<p>
    <strong>Specialized experience:</strong> You qualify at the Grade 09 level if you possess one year of specialized experience that
    equips you with the skills needed to perform the job duties. This specialized experience
    must have been equivalent to at least the Grade 07 level to meet the qualification
    requirements in the Federal Service. Examples include experience that demonstrates the
    ability to utilize analytical research methods and technical product knowledge to solve
    business problems; apply business context to improve product delivery and implementation;
    manage work using modern product management techniques including iterative
    prioritization; and communicate technical information in ways that different types of
    audiences can understand.
</p>