<section class="track-banner">
    <div class="usa-hero {{page.track_style}}">
        <div class="overlay-black">
            <div class="usa-hero__callout">
                <div class="job-org">GSA, U.S. Digital Corps</div>
                <h1>{{page.title}}</h1>
                <div class="job-title">IT Specialist (TBD)</div>
                <a class="usa-button usa-button--primaryvivid" href="{{page.apply_url}}">
                    Apply on USAJobs.gov
                </a>
            </div>
        </div>
    </div>
</section>

<section class="usa-section track-description padding-top-2">
    <div class="grid-container">
        <div class="grid-row grid-gap">

            <!-- side nav -->
            <nav class="sidenav display-none desktop:grid-col-2 desktop:display-inline margin-top-5">
                <ul class="usa-sidenav usa-sticky-sidenav">
                    {% for link in site.data.nav.job-description -%}
                    <li class="usa-sidenav__item">
                        <a href="#{{ link.anchor }}">{{ link.text }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>

            <!-- body -->
            <div class="margin-top-0 desktop:margin-top-2 desktop:grid-col-fill">

                <div class="track-description-section" id="overview">
                    <h2>Overview</h2>

                    <h3>Open and closing dates</h3>
                    <p><span class="tbd">2021-10-25 to 2021-10-29 11:59pm ET</span></p>
                    <p>This job will close at 11:59pm ET when we have received <span class="tbd">XXX</span> applications, which may be sooner than the closing date. <a class="usa-link usa-link--external" target="_blank" rel="noopener" href="https://www.usajobs.gov/Help/how-to/job-announcement/closing-types/">Learn more</a>.</p>
                    
                    <h3>Pay scale and grade</h3>
                    <p> GS-09</p>

                    <h3>Salary</h3>
                    <p><span class="tbd">$LOW to $HIGH</span> / per year</p>
                    <p class="tbd">GS-9, step 1 locality pay table or special pay rate, whichever is higher.</p>
                    <p class="tbd">The Digital Corps will also offer a recruitment incentive to all eligible candidates in the amount equivalent to 25% of starting salary, for both years of the program. The payout of the incentive will be weighted toward the first year.</p>
                    
                    <h4>Illustrative example:</h4>
                    <p>A fellow working in Washington D.C. could expect to earn slightly over $80,000 over the course of their first year. In their second year, after a promotion to GS-11, while still receiving the remainder of their recruitment incentive, they might expect to earn ~$82,000.</p>

                    <h3>Appointment type</h3>
                    <p> Recent Graduates. These are excepted appointments in the GSA Pathways Recent Graduate Program. Individuals will be eligible for non-competitive conversion into the competitive service pending successful completion of program and performance requirements.</p>
                    
                    <h3>Work schedule</h3>
                    <p> Full-time</p>
                </div>

                <div class="track-description-section" id="locations">

                    <h2>Locations</h2>
                    <ul class="usa-list">
                        <li class="text-bold">District of Columbia, DC, US</li>
                        <li class="text-bold">Location Negotiable After Selection, US</li>
                    </ul>
                    
                    <p class="tbd">Digital Corps Fellows will be able to work remotely, in-person, or in a hybrid model subject to the needs of their placement agency. Digital Corps fellows have the option of working from Washington D.C., where many agencies are headquartered. Those who are not located in Washington D.C. should expect to travel occasionally for program events.</p>

                    <h3>Relocation expenses reimbursed</h4>
                    <p>No</p>
                    
                    <h3>Telework eligible</h3>
                    <p>Yes, as determined by agency policy.</p>
                </div>

                <div class="track-description-section" id="open-to">
                    <h2>This job is open to:</h2>
                    <p><strong>Recent Graduates:</strong>
                    If you completed a qualifying degree within the previous two years, you may apply. If you are a Veteran who was prevented from applying during the two-year period due to your military service, you may apply if your degree was completed within the last six years.</p>
                </div>

                <div class="track-description-section" id="duties">
                    <h2>Duties</h2>
                    <h3>Summary</h3>
                    <p>The U.S. Digital Corps is a two-year development program for top technology talent that brings highly-skilled, diverse, and mission-driven early career technologists to federal agencies. During this appointment, the fellow is placed in a participating partner federal agency - improving service delivery through technology modernization and transformation - while receiving additional support and development as part of the U.S. Digital Corps program.</p>
                    <p>The first year of the U.S. Digital Corps fellowship is a Recent Graduates Program - a dynamic, one-year developmental program that promotes careers in the federal government to recent graduates. Recent Graduates who successfully complete the first year Program requirements may be eligible for non-competitive conversion to a permanent position within the civil service for the remaining year of the U.S. Digital Corps fellowship. Permanent placement to their fellowship placement agency or another eligible position is possible after completing the full U.S. Digital Corps program.</p>

                    <h3>Responsibilities</h3>
                    <p class="tbd">Major Duties</p>
                    {% include {{page.track_file}} %}

                    <h3>Travel requirements</h3>
                    <p>Occasional travel - Occasional travel for meetings.</p>

                    <h3>Supervisory status</h3>
                    <p>No</p>

                    <h3>Promotion potential</h3>
                    <p>GS-12. This is a developmental position. Fellows will begin at GS-9 and, pending completion of program and performance requirements, may be promoted to GS-11 following the first year of the fellowship and to GS-12 after successful completion of the two-year program.</p>
                </div>

                <div class="track-description-section" id="requirements">
                    <h2>Requirements</h2>
                    <h3>Conditions of employment</h3>

                    <ul class="usa-list">
                        <li>You must be a U.S. citizen or national (residents of American Samoa or Swains Island).</li>
                        <li>Relevant experience and/or education (as noted on the U.S. Digital Corps website).</li>
                        <li>Suitable for Federal employment, determined by a background investigation.</li>
                        <li>You may be required to serve a trial period.</li>
                        <li>You must apply online via <span class="tbd">the GSA website</span>.</li>
                    </ul>

                    <p>In order to be considered, you must meet the following conditions:</p>

                    <ul class="usa-list">
                        <li><strong>As required by Executive Order 14043, Federal executive branch employees are required to be fully vaccinated against COVID-19</strong> regardless of the employee's duty location or work arrangement (e.g., telework, remote work, etc.), subject to such exceptions as required by law. If selected, you will be required to be vaccinated against COVID-19 and submit documentation of proof of vaccination by November 22, 2021 or before appointment or onboarding with the agency (if later than November 22, 2021). The agency will provide additional information regarding which forms of documentation can be accepted and how you can request a legally required exception from this requirement. If selected and you are a current GSA employee (except in the OIG), you are not required to show proof of full COVID-19 vaccination if this requirement has already been met.</li>
                        <li>Due to COVID-19, the agency is currently in an expanded telework posture. If selected, you may be expected to temporarily telework, even if your home is located outside of the local commuting area. Once employees are permitted to return to the office, you will be expected to report to the duty station listed on this announcement within 45 days. At that time, you may be eligible to request to continue to telework one or more days a pay period depending upon the terms of the agency’s telework policy.</li>
                    </ul>

                    <h3>Qualifications</h3>
                    <p class="tbd">TBD</p>

                    <h3 class="tbd">Education</h3>

                    <h3 class="tbd">Additional information</h3>

                    <p>To be eligible for conversion to the competitive service after completion of the program, a Pathways Recent Graduate must:</p>
                    <ol class="usa-list">
                    <li>Be a U.S. citizen or national (resident of American Samoa or Swains Island)</li>
                    <li>Successfully complete an academic course of study as evidenced by a qualifying degree or be within 9 months of graduation.</li>
                    <li>Meet, at the end of the program, the OPM qualification standard for the position to which the Recent Graduate may be converted.</li>
                    <li>Maintain an acceptable performance under GSA's approved performance management system.</li>
                    <li>Candidates must receive a favorable recommendation from their Supervisor prior to a permanent appointment.</li>
                    <li>Meet all the training and development requirements outlined in the GSA Pathways policy.</li>
                    </ol>

                    <p class="text-bold">
                        GSA is not obligated to make an offer of employment, nor is the Pathways employee obligated to accept an offer of employment.
                    </p>

<div class="tbd">
                    <h3 class="tbd">How you will be evaluated</h3>
                    <p>You will be evaluated for this job based on how well you meet the qualifications named for the role in the job announcement.</p>
                    <p class="text-bold">The evaluation process for this job is different from a typical federal job announcement.</p>
                    <p>The qualifications for this position will be evaluated by subject matter experts. You are being evaluated under the category rating method which means, if you are determined to be qualified, you will be placed into the ‘Best Qualified’, ‘Well Qualified’, or ‘Qualified’ category by Subject Matter Experts (SME) based on your knowledge and experience to the required competencies of this position. If you misrepresent your knowledge and experience in your application package, you will be excluded from consideration for this job.</p>
                    <p>Apply only if you meet the qualifications.</p>
                    
                    <h4>Resume review:</h4>
                    <p>Subject matter experts will review the first page of education and two (2) pages of work experience on your resume to determine your technical qualifications for this position based on the required competencies.</p>
                    
                    <h4>Practical Written Assessment:</h4>
                    <p>If you pass the resume review, you will be given a track specific written assessment. Your response to the practical assessment will be used to measure your depth of knowledge in relation to the required competencies for the position. Depending on the volume of applications passing this step in the evaluation process, either the top candidates will move into the next assessment phase (with remaining candidates holding in the process) or all passing candidates will move to the next phase.</p>
                    
                    <h4>Qualifying phone interviews:</h4>
                    <p>At this phase, you will have at least one phone interview to further assess whether your experience meets the required competencies. You should expect your interview to cover both technical and non-technical competencies. You may meet with more than one subject matter expert for a determination to be made.</p>
                    <p>All interviews will be conducted virtually. Live captioning and other accessibility assistance is available for all candidates. If you require accommodations at any point of the application or hiring process, please contact jointts@gsa.gov.</p>

                    <h4>Ranking and preference:</h4>
                    <p>Veteran Preference will be applied to applicants who move forward after the qualifying phone interviews. The “Best Qualified” applicants will be issued to the Selecting Official by the Human Resources Office. Veteran preference eligibles are listed ahead of non-preference eligibles within each quality category. Based upon your category and score, you may be referred to the U.S. Digital Corps for interviews with host agencies.</p>
                    
                    <h4>Future consideration:</h4>
                    <p>We anticipate hiring 30 fellows in 2022. There are many great roles available in the federal government. When we complete our selections, the remaining list of qualified candidates may be shared with additional federal agencies. You will have an opportunity to opt-in if you would like your name, application material, and assessment results shared to be considered for employment with additional agencies. There is no guarantee of further consideration and you can continue to explore job opportunity announcements.</p>
</div>                
                    <h3 class="tbd">Background checks and security clearance</h3>

                    <p class="tbd">Security clearance:</p>
                    <p class="tbd">Drug test required:</p>
                </div>

                <div class="track-description-section tbd" id="documents">
                    <h2>Required documents</h2>

                    <ul class="usa-list">
                    <li>Resume</li>
                    <li>Current transcript</li>
                    <li>Veteran’s Preference Documentation (if applicable)</li>
                    </ul>
                </div>

                <div class="track-description-section tbd" id="benefits">
                    <h2>Benefits</h2>
                    <p>A career with the U.S. Government provides employees with a comprehensive benefits package. As a federal employee, you and your family will have access to a range of benefits that are designed to make your federal career very rewarding. <a class="usa-link usa-link--external" target="_blank" rel="noopener" href="https://www.usajobs.gov/Help/working-in-government/benefits/">Learn more about federal benefits</a>. <span class="tbd">[USAJOBS page link, unless there’s a better one by TTS/GSA]</span></p>
                </div>

                <div class="track-description-section tbd" id="how-to-apply">
                    <h2>How to apply</h2>
                    <ul class="usa-list">
                        <li>Agency contact information</li>
                        <li>Next steps</li>
                    </ul>
                </div>

                <div class="track-description-section tbd" id="fairness">
                    <h2>Fair and transparent</h2>
                    <ul class="usa-list">
                        <li>Equal employment opportunity policy</li>
                        <li>Reasonable accommodation policy</li>
                        <li>Legal and regulatory guidance</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>