<div class="tracks">

  {% if page.permalink != '/apply/engineering/' %}
  <div class="track">
    <a class="usa-button track-engineering" href="{{site.baseurl}}/apply/engineering">
      <div class="track-overlay">
        <div class="track-label">Software Engineering</div>
      </div>
    </a>
  </div>
  {% endif %}
  {% if page.permalink != '/apply/data-science/' %}
  <div class="track">
    <a class="usa-button track-data-science" href="{{site.baseurl}}/apply/data-science">
      <div class="track-overlay">
        <div class="track-label">Data Science<br />& Analytics</div>
      </div>
    </a>
  </div>
  {% endif %}
  {% if page.permalink != '/apply/product-management/' %}
  <div class="track">
    <a class="usa-button track-product-management" href="{{site.baseurl}}/apply/product-management">
      <div class="track-overlay">
        <div class="track-label">Product Management</div>
      </div>
    </a>
  </div>
  {% endif %}
  {% if page.permalink != '/apply/design/' %}
  <div class="track">
    <a class="usa-button track-design" href="{{site.baseurl}}/apply/design">
      <div class="track-overlay">
        <div class="track-label">Design</div>
      </div>
    </a>
  </div>
  {% endif %}
  {% if page.permalink != '/apply/cybersecurity/' %}
  <div class="track">
    <a class="usa-button track-cybersecurity" href="{{site.baseurl}}/apply/cybersecurity">
      <div class="track-overlay">
        <div class="track-label">Cybersecurity</div>
      </div>
    </a>
  </div>
  {% endif %}
</div>