<p>
    <strong>Specialized experience:</strong> You qualify at the Grade 09 level if you possess one year of specialized experience that
    equips you with the skills needed to perform the job duties. This specialized experience
    must have been equivalent to at least the Grade 07 level to meet the qualification
    requirements in the Federal Service. Examples include experience that demonstrates the
    ability to analyze and identify security gaps in application design and architecture; perform
    technical and non-technical risk evaluation; develop risk mitigation strategies; and
    communicate technical information in ways that different types of audiences can
    understand; and utilize technical security knowledge and methods to solve business
    problems.
</p>