<p>
    <strong>Specialized experience:</strong> You qualify at the Grade 09 level if you possess one year of specialized experience that
    equips you with the skills needed to perform the job duties. This specialized experience
    must have been equivalent to at least the Grade 07 level to meet the qualification
    requirements in the Federal Service. Examples include experience that demonstrates the
    ability to design and build basic software applications; maintain and modify existing
    programs; collaborate with other computer specialists utilizing code management tools;
    and communicate technical information—including information about the software
    development process—in ways that different types of audiences can understand, and
    utilize technical knowledge and methods to solve problems.
</p>