<p>
    <strong>Specialized experience:</strong> You qualify at the Grade 09 level if you possess one year of specialized experience that
    equips you with the skills needed to perform the job duties. This specialized experience
    must have been equivalent to at least the Grade 07 level to meet the qualification
    requirements in the Federal Service. Examples include experience that demonstrates the
    ability to utilize data analysis and data science knowledge and methods to solve business
    problems from concept to delivery; collect, wrangle, and prepare data using scripting
    languages; apply appropriate analytical techniques and tools to produce data visualizations;
    summaries, reports, effectively document code for reproducibility; and communicate
    technical information including information about analytical methods and outcomes in ways
    that different types of audiences can understand.
</p>