<p>
    <strong>Specialized experience:</strong> You qualify at the Grade 09 level if you possess one year of specialized experience that
    equips you with the skills needed to perform the job duties. This specialized experience
    must have been equivalent to at least the Grade 07 level to meet the qualification
    requirements in the Federal Service. Examples include experience that demonstrates the
    ability to utilize human centered and data-driven design and research methods to solve
    business problems; assist in project planning including the development of product
    development process deliverables; apply research and learnings to improve product design;
    work collaboratively using modern product and project management techniques; and
    communicate in-depth or technical information in ways that different types of audiences
    can understand.
</p>