{% comment %} 
  This will redirect the results to /search template which will handle the js loading
{% endcomment %}

{% if site.searchgov %}
  {% if site.searchgov.inline == true %}
    <form id="{{include.uid}}" class="usa-search usa-search--small" action="{{site.baseurl}}/search/" accept-charset="UTF-8" method="get">
  {% else %}
    <form id="{{include.uid}}" class="usa-search usa-search--small" action="{{site.searchgov.endpoint}}/search" accept-charset="UTF-8" method="get">
  {% endif %}
    
  
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input name="affiliate" type="hidden" value="{{site.searchgov.affiliate}}" />
  
    <div role="search">
      <label class="usa-sr-only" for="{{include.uid}}-extended-search-field-small">Search small</label>
      <input class="usa-input usagov-search-autocomplete" id="{{include.uid}}-extended-search-field-small" type="search" name="query" autocomplete="off">
     
      <button class="usa-button" aria-label="search-button-submit" type="submit">
      </button>
    </div>
  </form>
{% endif %}