---
layout: projects
title: Projects
description: Bacon ipsum dolor amet cupim swine sausage, filet mignon short ribs picanha tongue boudin pork chop bacon. Shankle frankfurter short ribs, shank sirloin landjaeger pancetta swine ball tip cow pork loin doner hamburger drumstick tail. Cupim bresaola chuck leberkas short loin t-bone. Brisket porchetta pastrami cow, salami spare ribs pork belly ball tip buffalo t-bone swine. T-bone short loin kielbasa, tri-tip leberkas ball tip ground round shoulder pancetta.
permalink: /projects/projects-only
active_page: projects
---

{% for project in site.projects %}
  {% if project.status contains 'current' or project.status contains 'past' %}
    {% include_cached project-item.html project=project %}
  {% endif %}
{% endfor %}
