// ABOUT customization

.about {
    .usa-hero {
        // background image
        background-image: url(asset_path("banners/banner-about.jpg"));
        background-position: right 50%;

        // callout container
        .usa-hero__callout {
            @include grid-col(6);
            @include grid-offset(6);
            @include u-padding-x(0);
            @include u-padding-top(8);

            // mobile
            @include at-media-max("tablet") {
                @include grid-col(12);
                @include grid-offset(none);
                @include u-padding-x(2);
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}

.whoweare-image {
    background-image: url(asset_path(
        "stock/stock-photo-handsome-asian-guy-standing-in-front-of-a-light-blue-wall-1580363914.jpeg"
    ));
    background-position: 70% top;
}

.whatwedo-image {
    background-image: url(asset_path("stock/gettyimages-1060587946-2048x2048.jpeg"));
    background-position: 55% top;

    @include at-media-max("tablet") {
        background-position: 70% top;
    }
}

.whatwedo-content {
    h1 {
        @include at-media("tablet") {
            @include u-margin-top(0);
            @include u-padding-top(0);
        }
    }
}
