// ABOUT customization

.about {
    .usa-hero {
        // background image
        //background-image: url(asset_path("stock/shutterstock_695720095.jpg"));
        background-image: url("https://via.placeholder.com/1920x600");
        background-position: right auto;

        // mobile
        @include at-media-max("mobile-lg"){
            background-position: 30% auto;
        }

        // callout container
        .usa-hero__callout {
            @include grid-col(5);
            @include grid-offset(7);
            @include u-padding-x(0);
            @include u-padding-top(8);

            // mobile
            @include at-media-max("tablet-lg") {
                @include grid-col(12);
                @include grid-offset(none);
                @include u-padding-x(2);
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}

.about-whoweare-image {
    background-image: url(asset_path(
        "stock/shutterstock_1580363914.jpg"
    ));
    background-position: 70% top;
}

.about-whatwedo-image {
    background-image: url(asset_path(
        "stock/gettyimages-1060587946-2048x2048.jpeg"
    ));
    background-position: 55% top;

    @include at-media-max("tablet") {
        background-position: 70% top;
    }
}

.about-diversity-image {
    // background-image: url(asset_path(
    //     "stock/pexels-life-matters-4614144.jpeg"
    // ));
    background-image: url("https://via.placeholder.com/1000x1000");
    background-position: 30% top;
}
