// banner
.apply-banner {
    .usa-hero {
        @include u-text("white");
        @include u-padding-x(4);
        @include u-padding-y(0);

        background-image: url(asset_path("apply/apply.png"));
        background-position: center;
        background-color: color("primary-dark");
        min-height: 500px;

        // display: flex;
        // flex-direction: column;

        // adjust for screen size
        @include at-media-max("widescreen") {
            .grid-container {
                @include u-padding-x(0);
            }
        }

        @include at-media-max("tablet") {
            @include u-padding-x(2);
            height: auto;
            min-height: unset;
        }

        // callout container
        .usa-hero__callout {
            @include u-padding-x(0);
            color: inherit;
            max-width: 60%;

            flex: 1;
            display: flex;
            flex-direction: column;

            // adjust for screen size
            @include at-media-max("tablet-lg") {
                max-width: 75%;
            }

            @include at-media-max("tablet") {
                @include u-padding-x(0);
                max-width: unset;
            }

            @include at-media-max("mobile-lg") {
                .usa-button {
                    width: 100%;
                }
            }

            .content {
                @include u-padding-y(6);
                display: block;
                margin: auto;
            }

            // typography
            h1 {
                // @include u-font("sans", "2xl");
                @include u-margin-bottom(3);
            }

            p {
                @include u-font("sans", "lg");
            }

            a {
                @include white-url();
            }
        }
    }
}
//Banner info sessions RSVP 
.info-sessions {
    list-style: none;
}

.info-sessions ul li{
    list-style: inside;
}


// USA Jobs steps
.usajobs-process {
    @include u-margin(0);
    @include u-padding-x(2);
    @include u-padding-top(8);
    @include u-padding-bottom(4);

    h2 {
        // tablet
        @include at-media-max("tablet") {
            @include u-margin-bottom(1);
        }
    }

    .usa-step-indicator {
        @include u-margin(0);
        @include u-padding(0);
        background-color: transparent;

        &--counters {
            .usa-step-indicator__segments {
                display: flex;
                flex-direction: row;

                margin-left: auto;
                margin-right: auto;
                max-width: 750px;

                // tablet
                @include at-media-max("tablet") {
                    display: block;
                    flex-direction: unset;

                    margin-left: auto;
                    margin-right: auto;
                    max-width: 400px;
                }

                .usa-step-indicator__segment {
                    margin-top: 0;
                    max-width: unset;

                    @include at-media-max("tablet") {
                        display: inline;
                    }

                    &::before {
                        height: 75px;
                        width: 75px;
                        margin-left: auto;
                        margin-right: auto;
                        top: 0;
                        left: calc(50% - 75px / 2);

                        background-size: 75px;
                        background-repeat: no-repeat;
                        background-position: center;
                        content: "";

                        box-shadow: inset 0 0 0 0.2rem color("primary");
                        border-radius: 50%;

                        @include at-media-max("tablet") {
                            display: block;
                            position: absolute;
                            margin: 0;
                            top: 28px;  // calc does not work in Safari
                            left: 0;
                            z-index: 100;

                            background-color: white;
                            box-shadow: inset 0 0 0 0.15rem color("primary");
                            border-radius: 50%;
                        }
                    }

                    &::after {
                        display: block;
                        height: 0.1rem;
                        top: calc(75px / 2 - 0.1rem / 2);

                        background-color: color("primary-vivid");
                        margin-top: 0;

                        @include at-media-max("tablet") {
                            display: none;
                        }
                    }

                    &:first-child {
                        &::after {
                            width: auto;
                            left: 50%;
                            right: 0;
                        }
                    }

                    &:last-child {
                        &::after {
                            left: 0;
                            right: 50%;
                            width: auto;
                        }
                    }

                    .usa-step-indicator__segment-label {
                        @include u-padding(0);
                        margin-top: 75px;

                        .label {
                            @include u-padding-top(2);
                            color: color("primary");
                            font-weight: bold;
                            text-align: center;
                            text-transform: uppercase;
                        }

                        .sublabel {
                            @include u-padding-x(1);
                            @include u-padding-y(2);
                            text-align: center;
                        }
                    }

                    // segment label mods for tablet
                    @include at-media-max("tablet") {
                        .usa-step-indicator__segment-label {
                            @include u-padding-y(2);
                            margin-top: 0;
                            margin-left: 90px;
                            display: block;

                            .label,
                            .sublabel {
                                @include u-padding(0);
                                text-align: left;
                            }

                            .label {
                                @include u-font("sans", "xs");
                            }
                        }
                    }
                }

                // custom images
                .step1 {
                    &::before {
                        background-image: url(asset_path("icons/step1.svg"));
                    }
                }

                .step2 {
                    &::before {
                        background-image: url(asset_path("icons/step2.svg"));
                    }
                }

                .step3 {
                    &::before {
                        background-image: url(asset_path("icons/step3.svg"));
                    }
                }
            }
        }
    }
}

// TRACKS
.apply-tracks {
    @include u-margin-x(4);
    @include u-margin-y(0);
    @include u-padding-y(8);

    // tablet
    @include at-media-max("tablet") {
        @include u-margin-x(0);
        @include u-padding-x(2);
    }

    h3 {
        @include u-margin-top(0);
        @include u-margin-bottom(2);
    }
}
