// banner
.apply-banner {
    .usa-hero {
        @include u-text("white");
        @include u-padding-x(0);
        @include u-padding-y(0);

        background-image: url(asset_path("stock/dc-metro.png"));
        background-position: center;
        background-color: color("primary-dark");
        min-height: 450px;

        // tablet
        @include at-media-max("tablet") {
            @include u-padding-x(0);
            height: auto;
            min-height: unset;
        }

        display: flex;
        flex-direction: column;

        // callout container
        .usa-hero__callout {
            color: inherit;
            max-width: 65%;

            flex: 1;
            display: flex;
            flex-direction: column;

            // tablet
            @include at-media-max("tablet") {
                @include u-padding-x(4);
                max-width: unset;
            }

            // mobile
            @include at-media-max("mobile-lg") {
                @include u-padding-x(2);

                .usa-button {
                    width: 100%;
                }
            }

            .content {
                @include u-padding-y(6);
                display: block;
                margin: auto;
            }

            // typography
            h1 {
                @include u-font("sans", "2xl");
                @include u-margin-bottom(3);
            }

            .lg {
                @include u-font("sans", "lg");
                @include u-text("bold");
            }
        }
    }
}
