// BLOG customization

// banner
.blogs-banner {
    .usa-hero {
      @include u-margin-bottom(4);
      @include u-margin-x(6);
      @include u-padding-x(10);
     // @include u-text("white");
        position: relative;
        min-height: 300px;
  
      // < tablet
      @include at-media-max("mobile-lg") {
        min-height: unset;
        @include u-padding-y(0);
        padding-top: 60%;
      }
  
      // callout container
      .usa-hero__callout {
        color: inherit;
        width: 100%;
        text-align: left;
        bottom: 0;
        position: absolute;
        top: 50%;

        // < tablet
        @include at-media-max("mobile-lg") {
          @include u-padding-x(2);
          @include u-padding-top(15);
          position: relative;
        }

        //<small mobile device
        @media screen and (max-width: 320px) {
          transform: translate(-50%, -35%);
        }
  
        .grid-container {
          @include u-padding-x(0);
        }
  
        .usa-button {
          float: left;
          @include u-margin-top(3);
  
          // < tablet
          @include at-media("tablet") {
            float: right;
          }
        }
  
        // subtext
        h2 {
          @include u-margin-top(3);
          @include u-margin-bottom(0);
          color: inherit;
          padding-right: 13rem;
          padding-left: 13rem;

          @media screen and (max-width: 990px) {
            padding-right: 0;
            padding-left: 0;
          }
        }
      }
    }

    hr{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 65px;
    }
  }

  //Filter
.blog-filter{
    @include at-media ('desktop'){
     margin: 0 10%;
    }
     //@include u-margin-right(2);
   }


//Blog Card
.blog-card{
    a {
        text-decoration: none;
    }
   
}
.blog-card--tag {
    margin: 0;
    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: nowrap;

        li{
            padding: 2px;
            span{
                border-radius: 10px;
            }
        }
    }
}


//Individual Blog Page
.blog-header{
    p{
        @include u-text("primary");
    }
}
.usa-image-block{
    margin: 5px;
    img{
        float: left;
        margin: 12px;
        width: 20%;
        max-height: 200px;
    }
}

.blog-quote-box{
    margin-bottom: 0.5rem;
    max-width: 88ex;
    padding: 1rem;
    background-color: #edeff0;
    border-radius: 2px;
}