// HOME customization

.home {
  .usa-hero {
    // background image
    background-image: url(asset_path("banners/banner-home.jpg"));
    background-position: right;

    // callout container
    .usa-hero__callout {
      background-color: rgba(255, 255, 255, 0.5);
      max-width: 35rem;
    }

    .usa-hero__heading {
      text-transform: unset;
    }

    .usa-hero__text {
      @include u-text("bold");
    }
  }
}

// section styles
@mixin hero-mini($image-url) {
  @include hero-size(242px, 200px);
  @include column-overlay("right", 225px, "primary", $image-url);
  background-position: left;
  @include u-padding(0);

  // mobile
  @include at-media-max("tablet") {
    @include column-overlay("right", 80%, "primary", $image-url);
  }
}

.hero-mini-content {
  @include u-padding-x(2);
  position: absolute;
  right: 0;
  width: 225px;

  h1,
  h2 {
    color: color("white");
    @include u-font("sans", 11);
    margin: 0;
  }

  h2 {
    @include u-font("sans", "md");
  }

  // mobile
  @include at-media-max("tablet") {
    @include grid-col(9);
    @include grid-offset(3);
    @include u-padding-x(2);
  }
}

// section customization
.usa-hero.tech-talent {
  @include hero-size(500px, 400px);
  @include u-padding-bottom(3);
  background-image: url(https://via.placeholder.com/800x800/1b2b85);
  background-position: center;

  h1 {
    @include u-font("sans","2xl");
    color: color("white");
  }

  // mobile
  @include at-media-max("tablet") {
    @include u-margin-bottom(2);

    h1 {
      @include u-font("sans","xl");
    }
  }
}

.usa-hero.mission {
  @include hero-mini("https://via.placeholder.com/800x400");
  @include u-margin-bottom(2);
}
.usa-hero.impact {
  @include hero-mini("https://via.placeholder.com/800x400");
}
