// OPPORTUNITY customization

.opportunity-banner {
    .usa-hero {
        // background image
        background-image: url(asset_path("stock/shutterstock_403286512.jpg"));
        background-position: 20% top;
        @include u-padding(0);

        // tablet
        @include at-media-max("tablet-lg") {
            .grid-container {
                @include u-padding-x(0);
            }
        }

        // mobile
        @include at-media-max("mobile-lg") {
            background-position: 40% top;
        }

        // callout container
        .usa-hero__callout {
            @include grid-col(5);
            @include grid-offset(7);
            @include u-padding-x(0);
            @include u-padding-top(15);

            // widescreen
            @include at-media-max("widescreen") {
                @include grid-col(4);
                @include grid-offset(8);
                @include u-padding-x(0);
            }

            // desktop
            @include at-media-max("desktop") {
                @include grid-col(5);
                @include grid-offset(7);
            }

            // tablet-lg
            @include at-media-max("tablet-lg") {
                @include grid-col(12);
                @include grid-offset(none);
                @include u-padding-x(4);
                background-color: rgba(255, 255, 255, 0.5);
            }

            // tablet
            @include at-media-max("tablet") {
                @include u-padding-x(2);
            }
        }
    }
}

.opportunity-deliver-image {
    background-image: url(asset_path("stock/shutterstock_1580363914.jpg"));
    background-size: cover;
    background-position: 60% top;
}

.opportunity-grow-image {
    background-image: url(asset_path("stock/woman-supercomputer.png"));
    background-position: 55% top;

    @include at-media-max("tablet") {
        background-size: cover;
        background-position: 50% top;
    }
}

.opportunity-support-image {
    background-image: url(asset_path("stock/TONL-01016.jpg"));
    background-size: cover;
    background-position: 50% 40%;
}

// accent underline
.accent-underline {
    &:after {
        @include u-bg("primary-vivid");
        content: "";
        left: 20%;
        width: 60%;
        height: 3px;
        position: relative;
        display: block;
        bottom: -26px;
    }
}

// partner logos
.partner {
    @include grid-col(3);
    @include u-text("center");
    @include u-padding-top(2);

    // < desktop
    @include at-media-max("tablet") {
        @include grid-col(6);
    }

    // < tablet
    @include at-media-max("mobile") {
        @include grid-col(12);
    }

    img {
        max-height: 120px;
    }
}

.opportunity-tracks {
    @include u-bg("base-lightest");

    .usa-accordion {
        @include u-padding-x(8);
        @include u-padding-y(2);

        // tablet
        @include at-media-max("tablet") {
            @include u-padding-x(0);
        }

        .usa-accordion__heading {
            @include u-font("sans", "md");

            .usa-accordion__button {
                @include u-bg("base-lighter");

                &:hover {
                    @include u-bg("base-light");
                }
            }
        }

        .usa-accordion__content {
            background-color: inherit;
        }

        p {
            @include u-font("sans", "sm");
        }
    }
}
