// OPPORTUNITY customization

.opportunity {
    .usa-hero {
        // background image
        background-image: url(asset_path("banners/banner-opportunity.jpg"));
        background-position: 90% top;

        // callout container
        .usa-hero__callout {
            @include grid-col(5);
            @include grid-offset(7);
            @include u-padding-x(0);
            @include u-padding-top(8);

            // mobile
            @include at-media-max("tablet") {
                @include grid-col(12);
                @include grid-offset(none);
                @include u-padding-x(2);
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}

.opportunity-deliver-image {
    background-image: url(
        "https://via.placeholder.com/650x650"
    );
    background-size: cover;
    background-position: 50% top;
}

.opportunity-grow-image {
    background-image: url(asset_path("stock/gettyimages-979528354-2048x2048.jpeg"));
    background-position: 55% top;

    @include at-media-max("tablet") {
        background-size: cover;
        background-position: 70% top;
    }
}

.opportunity-support-image {
    background-image: url(
        "https://via.placeholder.com/650x650"
    );
    background-size: cover;
    background-position: 50% top;
}
