// banner
.process-banner {

    .usa-hero {
        // background-image: url(asset_path("stock/dc-metro.png"));
        background-position: center;
        background-color: color("primary");

        // callout container
        .usa-hero__callout {
            @include grid-col(7);
            @include u-padding-x(0);
            @include u-text("white");

            // < desktop
            @include at-media-max("desktop") {
                @include grid-col(6);
                @include u-padding-x(2);
            }

            // < tablet
            @include at-media-max("tablet") {
                @include grid-col(12);
            }

            // typography
            h1,
            h2 {
                color: inherit;
            }
        }
    }
}
