// banner
.track-banner {
    .usa-hero {
        @include u-padding-y(0);
        @include u-text("white");
        background-color: color("base-darker");
        position: relative;
        min-height: 300px;

        .overlay-black {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        // callout container
        .usa-hero__callout {
            @include u-padding-x(0);
            position: absolute;
            bottom: 0;

            // typography
            h1 {
                @include u-font("sans", "2xl");
                @include u-margin-y(0.5);
                color: inherit;
            }
            .job-title {
                @include u-font("sans", "lg");
                @include u-margin-y(0);
                @include u-padding-left("05");
                color: inherit;
            }
            .job-org {
                @include u-font("sans", "md");
                @include u-margin-y(0);
                @include u-padding-left("05");
                color: inherit;
            }

            // button
            .usa-button {
                @include u-margin-top(2);
            }
        }
    }

    // custom images
    .software-engineering {
        background-image: url(asset_path("stock/software-engineering-banner.jpeg"));
        background-position: center;
    }
    .data-science {
        background-image: url(asset_path("stock/data-science-banner.jpeg"));
        background-position: center;
    }
    .product-management {
        background-image: url(asset_path("stock/product-management-banner.jpeg"));
        background-position: 50% 30%;
    }
    .design {
        background-image: url(asset_path("stock/design-banner.jpeg"));
        background-position: center;
    }
    .cybersecurity {
        background-image: url(asset_path("stock/cybersecurity-banner.jpeg"));
        background-position: center;
    }
}

// body
.track-description {

    p, .as-p {
        @include body-font-larger();
    }

    // modal
    
}
