// banner
.track-banner {
    .usa-hero {
        @include u-text("white");

        background-image: url(asset_path("stock/faq-banner.png"));
        background-position: center;
        background-color: color("primary");
        position: relative;
        min-height: 250px;

        // callout container
        .usa-hero__callout {
            @include u-padding-x(4);
            position: absolute;
            bottom: 0;
            left: 0;

            // < tablet
            @include at-media-max("tablet") {
                @include u-padding-x(2);
            }

            // typography
            h1 {
                @include u-font("sans", "2xl");
                @include u-margin-y(2);
            }
        }

        .usa-hero__heading{
            @include u-padding-bottom(2);
        }
    }
}

// body
.track-description {
    @include u-padding-x(4);

    // < tablet
    @include at-media-max("tablet") {
        @include u-padding-x(2);
    }

    // typography
    h2 {
        @include u-margin-top(4);
        @include u-margin-bottom(2);
    }

    h3 {
        @include u-margin-top(3);
        @include u-margin-bottom(1);
    }

    h4 {
        @include u-margin-top(3);
        @include u-margin-bottom(0.5);
    }

    p {
        @include body-font-larger();
        @include u-font("sans", "md");
    }
}