
<div class=" project-item__outer" data-filter="acf">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "ACF.png"
                    alt="administration for children and families" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                            Administration for Children and Families
                        </h2>
                    </div>
                    <p class="project-item__title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="cmms">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "CMS.png"
                    alt="centers for medicare and medicaid services" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                            Center For Medicare And Medicaid Services
                        </h2>
                    </div>
                    <p class="project-item__title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="cfpb">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "cfpb.png"
                    alt="consumer financial protection bureau" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                            Consumer Financial Protection Bureau
                        </h2>
                    </div>
                    <p class="project-item__title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="ci">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "Cybersecurity & Infrastructure.png"
                    alt="Cybersecurity & Infrastructure" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                    </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                            Cybersecurity & Infrastructure Security Agency
                        </h2>
                    </div>
                    <p class="project-item__title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="dhhs">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "HHS.png"
                    alt="department of health and human services" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                            Department of Health and Human Services
                        </h2>
                    </div>
                    <p class="project-item__title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="dos">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "DOS.png"
                    alt="department of state" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                           Department of State
                        </h2>
                    </div>
                    <p class="project-item__title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="project-item__outer" data-filter="va">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "VA.png"
                    alt="department of veteran affiairs" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                    </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                            Department of Veteran Affairs
                        </h2>
                    </div>
                    <p class="project-item__title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="gsa">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "GSA.png"
                    alt="department of state" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                           General Services Administration
                        </h2>
                    </div>
                    <p class="project-item__title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="opm">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "OPM.png"
                    alt="office of personnel management" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                            Office of Personnel Management
                        </h2>
                    </div>
                    <p class="project-item__title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="sba">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "SBA.png"
                    alt="small business administration" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                           Small Business Administration
                        </h2>
                    </div>
                    <p class="project-item__title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="cb">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "census.png"
                    alt="u.s. census bureau" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                           U.S. Census Bureau
                        </h2>
                    </div>
                    <p class="project-item__title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="cis">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "Homeland Security.png"
                    alt="u.s. citizenship and immigration services" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                            U.S. Citizenship and Immigration Services
                        </h2>
                    </div>
                    <p class="project-item__title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="whostp">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "EOP.png"
                    alt="white house office of science and technology policy" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                           White House Office of Science and Technology Policy
                        </h2>
                    </div>
                    <p class="project-item__title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
