
<div class=" project-item__outer" data-filter="acf">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "ACF.webp"
                    alt="administration for children and families" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                            Administration for Children and Families
                        </h2>
                    </div>
                    <div class="project-item__title">
                        <p>
                            The Administration for Children and Families (ACF) fosters health and well-being by providing federal leadership, partnership and resources for the compassionate and effective delivery of human services.
                        </p>
                        <p>
                            Helping the Office of Refugee Resettlement ensure that the thousands of unaccompanied children that enter HHS care each month are safe, thriving, and swiftly united with a sponsor through technology delivery and data analysis.                         
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="cmms">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "CMS.webp"
                    alt="centers for medicare and medicaid services" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                            Centers for Medicare and Medicaid Services
                        </h2>
                    </div>
                    <div class="project-item__title">
                        <p>
                            The Centers for Medicare and Medicaid Services (CMS) seeks to strengthen and modernize the Nation's health care system.
                        </p>
                        <p>
                            Understanding how people move around the U.S. health insurance system and taking action to support the most vulnerable Americans, and empowering users and teams across CMS to make better use of data and core security products and services to achieve their mission faster and more securely.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="cfpb">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "cfpb.webp"
                    alt="consumer financial protection bureau" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                            Consumer Financial Protection Bureau
                        </h2>
                    </div>
                    <div class="project-item__title">
                        <p>
                            The Consumer Financial Protection Bureau (CFPB) aims to make consumer financial markets work for consumers, responsible providers, and the economy as a whole.
                        </p>
                        <p>
                            Utilizing data, technology, and design to safeguard everyday financial stability and build a more inclusive economy. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="ci">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "CISA.webp"
                    alt="Cybersecurity & Infrastructure" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                    </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                            Cybersecurity & Infrastructure Security Agency
                        </h2>
                    </div>
                    <div class="project-item__title">
                        <p>
                            The Cybersecurity and Infrastructure Security Agency (CISA) works with partners to defend against today’s threats and collaborates to build a more secure and resilient infrastructure for the future.
                        </p>
                        <p>
                            Helping the Cybersecurity Division maintain its position as the lead technical authority by providing expertise in the Information Technology (IT), Operational Technology (OT), and Cybersecurity domains. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="dhhs">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "HHS.webp"
                    alt="department of health and human services" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                            Department of Health and Human Services
                        </h2>
                    </div>
                    <div class="project-item__title">
                        <p>
                            The Department of Health and Human Services (HHS) enhances the health and well-being of all Americans, by providing for effective health and human services and by fostering sound, sustained advances in the sciences underlying medicine, public health, and social services.
                        </p>
                        <p>
                            Harnessing the power of open data, open science, open innovation, and human-centered design for real-world impact and tackling complex issues like COVID-19, health equity, and vector-borne diseases exacerbated by the climate crisis. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="dos">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "DOS.webp"
                    alt="department of state" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                           Department of State
                        </h2>
                    </div>
                    <div class="project-item__title">
                        <p>
                            The Department of State leads America's foreign policy through diplomacy, advocacy, and assistance by advancing the interests of the American people, their safety and economic prosperity.
                        </p>
                        <p>
                            Leveraging innovative technologies to bolster the Department’s ability to harness the full potential of its data to better meet its mission, and developing innovative ways to protect the Department’s networks and utilize data for security functions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="project-item__outer" data-filter="va">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "VA.webp"
                    alt="department of veterans affiairs" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                    </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                            Department of Veterans Affairs
                        </h2>
                    </div>
                    <div class="project-item__title">
                        <p>
                            The Department of Veterans Affairs (VA) focuses on improving the lives of Veterans and their families.
                        </p>
                        <p>
                            Improving VA.gov to make it easier for Veterans to access information about their health care benefits.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="gsa">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "GSA.webp"
                    alt="general services administration" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                           General Services Administration
                        </h2>
                    </div>
                    <div class="project-item__title">
                        <p>
                            The General Services Administration (GSA) delivers value and savings in real estate, acquisition, technology, and other mission-support services across government.
                        </p>
                        <p>
                            Expanding access to voting to underserved communities through Vote.gov; simplifying the public’s access to life-saving benefits and services on USAgov; and supporting and developing ideas from federal employees about how technology can improve the public’s experience with the government through 10x.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="opm">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "OPM.webp"
                    alt="office of personnel management" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                            Office of Personnel Management
                        </h2>
                    </div>
                    <div class="project-item__title">
                        <p>
                            The Office of Personnel Management (OPM) provides human resource management leadership and high-quality services that protect and strengthen the merit system of government.
                        </p>
                        <p>
                            Leveraging data on the largest workforce in the country to increase the federal government’s capacity to recruit, retain, and empower the people delivering its complex mission.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="sba">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "SBA.webp"
                    alt="small business administration" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                           Small Business Administration
                        </h2>
                    </div>
                    <div class="project-item__title">
                        <p>
                            The U.S. Small Business Administration (SBA) helps Americans start, build, and grow businesses.
                        </p>
                        <p>
                            Restoring equity for U.S. small businesses by leveraging $600B in federal buying power.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="cb">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "census.webp"
                    alt="u.s. census bureau" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                           U.S. Census Bureau
                        </h2>
                    </div>
                    <div class="project-item__title">
                        <p>
                            The U.S. Census Bureau (Census) serves as the leading source of quality data about the nation's people and economy.
                        </p>
                        <p>
                            Enabling internal and external users to access the data they need easily so they can spend less time searching for data and more time using it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="cis">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "DHS.webp"
                    alt="u.s. citizenship and immigration services" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                            U.S. Citizenship and Immigration Services
                        </h2>
                    </div>
                    <div class="project-item__title">
                        <p>
                            U.S. Citizenship and Immigration Services (USCIS) oversees lawful immigration to the United States.
                        </p>
                        <p>
                            Working on the main technology system that supports the United States' Refugee and Asylum programs to ensure it scales for unprecedented goals in resettling refugees while also ensuring that those seeking Asylum protection receive just and efficient decisions. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" project-item__outer" data-filter="whostp">
    <div class="project-item">
        <div>
            <div class="project-item__content">
                <div class="tablet:grid-col-6">
                    {% asset
                    "EOP.webp"
                    alt="white house office of science and technology policy" class="project-item__logo" width="71" %}
                    <div>
                        <p class="project-skill-impact">Skill Set: </p>
                        <p>Design, Cybersecurity, Software Engineering</p>
                </div>
                    <div class="agency-card--specialty">
                        <p class="project-skill-impact">Impact Area: </p>
                        <ul class="impact-list">
                            <li data-skill="impact1"><span class="skill1">Impact Area 1</span></li>
                            <li data-skill="impact2"><span class="skill2">Impact Area 2</span></li>
                            <li data-skill="impact3"><span class="skill3">Impact Area 3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="project-item__header">
                        <h2 class="project-item__agency">
                           White House Office of Science and Technology Policy
                        </h2>
                    </div>
                    <div class="project-item__title">
                        <p>
                            TBD
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
