{% if site.apply_now %}
<section
    class="usa-section bg-accent-warm text-ink text-bold text-center margin-bottom-1 padding-y-1 tablet:padding-bottom-05"
    aria-label="site-wide alert">
    Applications are open until November 30 — <br class="display-inline tablet:display-none" />
    <a class="usa-link" href="{{site.baseurl}}/apply/"> apply now!</a>
</section>
{% else %}
<section
    class="usa-section bg-accent-warm text-ink  text-center  padding-y-1 tablet:padding-bottom-05"
    aria-label="site-wide alert">
    <span class="text-bold">Applications for the 2023 U.S. Digital Corps cohort will open on Monday, November 21st!
    </span>
    <br/>
    <span><a class="usa-link" href="{{site.baseurl}}/apply/"> RSVP for an upcoming info session. </a></span>
</section>
{% endif %}