{% if site.apply_now %}
<section
    class="usa-section bg-accent-warm text-ink text-bold text-center margin-bottom-1 padding-y-1 tablet:padding-bottom-05"
    aria-label="site-wide alert">
    Applications are now open — <br class="display-inline tablet:display-none" />
    <a class="usa-link" href="{{site.baseurl}}/apply/"> apply now!</a>
</section>
{% else %}
    <section
    class="usa-section bg-accent-warm text-ink text-bold text-center  padding-y-1 tablet:padding-bottom-05"
    aria-label="site-wide alert">
    This page describes the eligibility criteria and process used for our 2022 cohort.
    <br class="display-inline tablet:display-none"/>
    We are finalizing the criteria and application process for our 2023 cohort.
    </section>
{% endif %}