{% if site.apply_now %}
<section
    class="usa-section bg-accent-warm text-ink text-bold text-center margin-bottom-1 padding-y-1 tablet:padding-bottom-05"
    aria-label="site-wide alert">
    Applications are now open — <br class="display-inline tablet:display-none" />
    <a class="usa-link" href="{{site.baseurl}}/apply/"> apply now!</a>
</section>
{% else %}
    <section
    class="usa-section bg-accent-warm text-ink text-bold text-center  padding-y-1 tablet:padding-bottom-05"
    aria-label="site-wide alert">
    The eligibility criteria and process described on this page was used for our June 2022 cohort.
    <br/>
    We are exploring expanding the eligibility criteria and refining the process for applications to our 2023 cohort.
    </section>
{% endif %}