<aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4{% if include.order %} order-{{ include.order }}{% endif %}">

  {% if page.image %}
  {% asset "{{ page.image }}" class="circle-card" alt="{{ page.image_alt_text }}" %}
  {% endif %}

  <p>Class of <a href="/fellows/{{ include.fellow_year }}">{{ include.fellow_year }}</a></p>
  <p>From {{ include.fellow_hometown }}</p>

  {% assign fellow_project = include.fellow_project | size %}
  {% if fellow_project != 0 %}
    <h2>Project</h2>
    <ul class="usa-sidenav">
      {% for project in site.projects %}
      {% capture project_id %}{{ project.id | remove: "/projects/"}}{% endcapture%}
      {% if include.fellow_project contains project_id %}
      <li class="usa-sidenav__item">
          <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  {% assign fellow_agency = include.fellow_agency | size %}
  {% if fellow_agency > 0 %}
    <h2>{% if fellow_agency > 1 %}Agencies{% else %}Agency{% endif %}</h2>
    <ul class="usa-sidenav">
      {% for agency in site.data.agencies %}
      {% if include.fellow_agency contains agency.name %}
      <li class="">
          <span>{{ agency.fullname }}</span>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
</aside>
