{% assign aria_id = fellow.title | url_encode | truncate: 15, "" %}

{% if paginator.posts.size > 0 %}
{% for fellow in paginator.posts %}
<div class="fellow-card">
  <a href="{{ site.baseurl }}{{ fellow.url }}" aria-labelledby="{{ aria_id }}">
    <div class="usa-prose fellow-img">
      {% if fellow.image %}
        <img src="{{site.baseurl}}{{fellow.image}}" class="circle-card" alt="{{fellow.title}}"/>
      {% else %}
        <img src="{{site.baseurl}}/assets/images/icons/Placeholder.webp" class="circle-card float-left margin-right-3" alt="{{ fellow.title }}" />
      {% endif %}
    </div>
    <div>
      <h2 class="body-intro--bold" id="{{ aria_id }}">{{ fellow.title }}</h2>
      <p class="content">
        {{ fellow.bio_short }}
      </p>
    </div>
  </a>
  <p>
    <span class="fellow-card--fellow-year">{{ fellow.fellow_year }} Fellow</span>
  </p>
</div>

{% endfor %}
{% else %}
<div class="no-results" style="padding-left:10px;">
  <p> No results found. </p>
</div>
{% endif %}

