<div class="filters fellow-filters">
    <div class="filters__left ">
        <div class="filter_col" id="tracks">
            <select aria-labelledby="tracks" class="usa-select" name="track" id="fellow-track-select">
                <option data-track="all" disabled selected>Filter by Track</option>
                <option data-track="all">All Impact Areas</option>
                <option data-track="capacity">Capacity Building</option>
                <option data-track="cybersecurity">Cybersecurity</option>
                <option data-track="equity">Equity</option>
                <option data-track="health">Health</option>
                <option data-track="immigration">Immigration</option>
            </select>
        </div>
        <div class="filter_col" id="agencies">
            <select aria-labelledby="agencies" class="usa-select" name="fellow-agencies" id="fellow-agencies-select">
                <option data-filter="all" disabled selected>Filter By Agency</option>
                <option data-filter="all">All Agencies</option>
                <option data-filter="acf"> Administration for Children and Families </option> 
                <option data-filter="cmms"> Centers for Medicare and Medicaid Services </option>
                <option data-filter="cfpb"> Consumer Financial Protection Bureau </option>
                <option data-filter="ci"> Cybersecurity & Infrastructure Security Agency</option>
                <option data-filter="dhhs"> Department of Health and Human Services </option> 
                <option data-filter="dos"> Department of State </option> 
                <option data-filter="va"> Department of Veterans Affairs </option>
                <option data-filter="epa"> Environmental Protection Agency </option>
                <option data-filter="gsa"> General Services Administration</option> 
                <option data-filter="opm"> Office of Personnel Management </option> 
                <option data-filter="sba"> Small Business Administration </option>
                <option data-filter="cb"> U.S. Census Bureau </option>
                <option data-filter="cis"> U.S. Citizenship and Immigration Services </option>
            </select>
        </div>
        <div class='filter__search'>
            <input type="text" id="fellows-search-input" placeholder="Search fellows" class="usa-input">
        </div>
    </div>
    
  </div>
  