<!-- FOOTER on every page -->
<footer class="usa-footer usa-footer--big">
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row padding-bottom-2 mobile-lg:padding-bottom-0">
        <a href="{{site.baseurl}}/">
          {% asset "digitalcorps_logo_white.svg" alt="U.S. Digital Corps Logo" width=350 %}
        </a>
      </div>
      <div class="grid-row grid-gap-lg display-flex flex-row flex-align-end height-full">
        <div class="grid-col-12 desktop:grid-col-9 tablet:grid-col-8">
          <section class="usa-footer__primary-content">

            <!-- footer body info -->
            <nav class="usa-footer__secondary-link padding-top-4 tablet:padding-top-8"
              aria-label="Site navigation links">
              <ul class="usa-list usa-list--unstyled slash-list">

                <li><a href="{{site.baseurl}}/">
                    Home</a></li>
                <li><a href="{{site.baseurl}}/about/">
                    Who We Are</a></li>
                <li><a href="{{site.baseurl}}/opportunity/">
                    Opportunity</a></li>
                <li><a href="{{site.baseurl}}/projects/">
                      Projects</a></li>
                <li><a href="{{site.baseurl}}/process/">
                    Application Process</a></li>
                <li><a href="{{site.baseurl}}/faq/">
                    FAQ</a></li>
                <li><a href="{{site.baseurl}}/apply/">
                    Apply</a></li>
              </ul>
            </nav>

            <p class="margin-0 padding-top-4">
              <strong>Agencies</strong>:
              <br />
              Interested in partnering with the Digital Corps and hosting Fellows?
              <br class="display-none desktop:display-inline" />
              Contact us at <span class="usa-footer__secondary-link">
                <a href="mailto:{{site.email}}">{{site.email}}</a></span>.
            </p>

            <p class="margin-0 padding-top-2">
              <strong>Press inquiries</strong>:
              <br />
              Contact us at <span class="usa-footer__secondary-link"><a
                  href="mailto:press@gsa.gov">press@gsa.gov</a></span>.
            </p>

            <!-- important links -->
            <nav class="usa-footer__secondary-link padding-top-2 tablet:padding-top-4" aria-label="Important links">
              <ul class="usa-list usa-list--unstyled slash-list">

                <li><a href="https://www.gsa.gov/about-us">
                    About GSA</a></li>
                <li><a href="https://www.gsa.gov/website-information/website-policies#linking">
                    Linking policy</a></li>
                <li><a href="https://www.gsa.gov/website-information/website-policies#privacy">
                    Privacy</a></li>
                <li><a href="https://www.gsa.gov/website-information/accessibility-aids">
                    Accessibility</a></li>
                <li><a href="https://www.gsa.gov/reference/freedom-of-information-act-foia"
                    class="usa-identifier__required-link usa-link">
                    FOIA</a></li>
                <li><a
                    href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002"
                    class="usa-identifier__required-link usa-link">
                    No FEAR Act</a></li>
                <li><a href="https://www.gsaig.gov" class="usa-identifier__required-link usa-link">
                    Inspector General</a></li>
                <li><a href="https://www.gsa.gov/reference/reports/budget-performance"
                    class="usa-identifier__required-link usa-link">
                    Performance</a></li>
              </ul>
            </nav>

          </section>
        </div>

        <!-- contact info -->
        <div class="grid-col-12 desktop:grid-col-3 tablet:grid-col-4">
          <ul class="usa-list usa-list--unstyled">

            <li class="usa-footer__secondary-link">
              <strong>Contact us</strong>:
              <br /><a href="mailto:{{site.email}}">{{site.email}}</a>
            </li>

            <!-- social-media -->
            <li class="margin-y-2 padding-right-1 mobile:padding-left-2 desktop:padding-left-0">
              <p class="text-white font-sans-2xl line-height-sans-1 text-semibold margin-y-2">
                Follow&nbsp;us
              </p>
              <a class="usa-social-link usa-social-link--linkedin"
                href="https://www.linkedin.com/{{site.social.linkedin}}">
                <span>LinkedIn</span>
              </a>
              <a class="usa-social-link usa-social-link--twitter" href="https://twitter.com/{{site.social.twitter}}">
                <span>Twitter</span>
              </a>
              <!-- <a class="usa-social-link usa-social-link--facebook"
                href="https://www.facebook.com/{{site.social.facebook}}">
                <span>Facebook</span>
              </a> -->
              <!-- <a class="usa-social-link usa-social-link--instagram"
                href="https://www.instagram.com/{{site.social.instagram}}">
                <span>Instagram</span>
              </a> -->
            </li>
          </ul>

          <!-- sign-up -->
          <div class="usa-sign-up">
            <form class="usa-form" id="gov-delivery-form" accept-charset="UTF-8" method="post" target="_blank"
              action="https://public.govdelivery.com/accounts/USGSATTS/subscribers/qualify">
              <input name="utf8" type="hidden" value="&#x2713;" />
              <input type="hidden" name="topic_id" id="topic_id" value="{{site.govdelivery.topic}}" />
              <label id="usdc-email-sign-up" for="email" class="usa-sign-up__heading">Subscribe</label>
              <input class="usa-input" type="text" name="email" id="email" placeholder="email address"
                aria-labelledby="usdc-email-sign-up" />
              <input class="usa-button usa-button--small" type="submit" name="commit" value="Submit" />
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>
