{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading">
        Build a brighter future
      </h1>
      <h2>Launch your career by tackling the biggest challenges facing our nation</h2>
      <a class="usa-button usa-button--secondary button-slanted" href="{{ site.baseurl }}/apply">
        <span class="button-slanted-content">Learn more</span>
      </a>
      <!-- <p class="usa-hero__text">Applications open until 30 June</p> -->
    </div>
  </div>
</section>