<!-- BANNER -->
<section class="home">
  <div class="usa-hero">
    <div class="grid-container">
      <div class="usa-hero__callout">
        <h1 class="usa-hero__heading">Build a brighter future</h1>
        <h2>Use your technology skills to help create a more effective, equitable government.</h2>
        <a class="usa-button usa-button--primaryvivid margin-top-2 tablet:margin-top-8"
          href="{{ site.baseurl }}/opportunity">
          <span>Learn more</span>
        </a>
        <!-- <p class="usa-hero__text">Applications open until 30 June</p> -->
      </div>
    </div>
  </div>
</section>

<!-- HIGHLIGHTS -->
<section class="usa-section">

  <div class="grid-container">
    <div class="grid-row grid-gap">

      <!-- tech talent -->
      <div class="tablet:grid-col">
        <div class="tech-talent display-flex flex-align-end">
          <h1>
            Apply your tech talent in service to the nation
          </h1>
        </div>
      </div>

      <div class="tablet:grid-col">

        <!-- impact -->
        <div class="grid-row">
          <div class="grid-col home-impact">
            <div class="box-mini-content">
              <h1 class="padding-bottom-1">Meaningful Innovation</h1>
              <div class="margin-bottom-3">
                <a class="usa-link" href="{{ site.baseurl }}/opportunity">What we do</a>
              </div>
            </div>
          </div>
        </div>

        <!-- mission and values -->
        <div class="grid-row">
          <div class="grid-col home-mission">
            <div class="box-mini-content">
              <h1 class="padding-bottom-1">Mission and Values</h1>
              <div class="margin-bottom-3">
                <a class="usa-link" href="{{ site.baseurl }}/about">Why we do the work</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
</section>

<!-- BENEFITS -->
<section class="usa-section padding-top-2">

  <div class="grid-container highlight">
    <h1>
      Impactful work at Scale
    </h1>
    <p class="margin-bottom-0">
      The U.S. Digital Corps is a new, two&#8209;year fellowship for early&#8209;career and junior 
      technologists to launch impactful careers in public service and help accelerate technology 
      modernization in service to the American public.
    </p>
  </div>

  <div class="grid-container margin-top-2">
    <div class="grid-row benefits">
      <div class="benefit">
        {% asset
        "shutterstock_669170740.jpg"
        alt="young man in business suit explaining in conference room" %}
        <h2 class="twoline"> High-impact <br class="display-none tablet:display-inline" /> work </h2>
        <p>Work with federal employees to improve how government serves all Americans in a digital age.</p>
      </div>
      <div class="benefit">
        {% asset
        "pexels-christina-morillo-1181398.jpg"
        alt="woman in blazer writing on whiteboard" %}
        <h2 class="twoline">Learning and <br class="display-none tablet:display-inline" /> development</h2>
        <p>Grow as a technologist while honing your bureaucracy hacking skills through dedicated programming.</p>
      </div>
      <div class="benefit">
        {% asset
        "shutterstock_365256755.jpeg"
        alt="mature businessman and a young woman having a friendly conversation" %}
        <h2 class="twoline">Mentorship and <br class="display-none tablet:display-inline" /> community</h2>
        <p>Join a diverse community of mission-driven technologists dedicated to the public interest.</p>
      </div>
    </div>
  </div>
</section>

<!-- SIGN-UP -->
{% include_cached sign-up.html customstyles="bg-base-lighter padding-y-8" %}