<!-- Identifier (anchor) component -->
<div class="usa-identifier">
  <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier,">
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href="https://www.gsa.gov/tts" class="usa-identifier__logo">
          {% asset GSA.svg class="usa-identifier__logo-img" alt="General Services Administration" %}
        </a>
      </div>
      <div class="usa-identifier__identity" aria-label="General Services Administration">
        <p class="usa-identifier__identity-domain">digitalcorps.gsa.gov</p>
        <p class="usa-identifier__identity-disclaimer text-semibold">
          An official website of GSA’s 
          <a href="https://www.gsa.gov/tts">Technology Transformation Services</a>
        </p>
      </div>
    </div>
  </section>
  <!-- <section class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services,">
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        Looking for U.S. government information and services?
      </div>
      Visit <a href="https://www.usa.gov" class="usa-link">USA.gov</a>
    </div>
  </section> -->
</div>