<!--
                   ::::::::::::::::::::::::::::::::::::: oOOOOOOOOOo
              ::::::::::::::::::::::::::::::::::::: oOOOOOOOOOOOOOOOOOOOo
                                                 oOOOOOOOOOOOOOOOOOOOOOOOOOo
                                              oOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOo
      :::::::::::::::::::::::::::::::::::::: OOOOOOOOOOOOOOOOO OOOOOOOOOOOOOOOOO
     ::::::::::::::::::::::::::::::::::::: oOOOOOOOOOOOOOOOOO   OOOOOOOOOOOOOOOOOo
                                          OOOOOOOOOOOOOOOOOO*   *OOOOOOOOOOOOOOOOOO
                                         OOOOOOOOOOOOOOOOOOO     OOOOOOOOOOOOOOOOOOO
  ::::::::::::::::::::::::::::::::::::: oOOOOOOOOOOOOOOOOOO       OOOOOOOOOOOOOOOOOOo
 ::::::::::::::::::::::::::::::::::::: oOOOOOOOOOOOOOOOOOO*       *OOOOOOOOOOOOOOOOOOo
                                       OOOOOOo                                 oOOOOOO
                                      oOOOOOOOOO                             OOOOOOOOOo
::::::::::::::::::::::::::::::::::::: oOOOOOOOOOOOo                       oOOOOOOOOOOOo
::::::::::::::::::::::::::::::::::::: oOOOOOOOOOOOOOOo                 oOOOOOOOOOOOOOOo
                                      oOOOOOOOOOOOOOOOO*             *OOOOOOOOOOOOOOOOo
                                      *OOOOOOOOOOOOOOOO               OOOOOOOOOOOOOOOO*
 ::::::::::::::::::::::::::::::::::::: *OOOOOOOOOOOOOO*       o       *OOOOOOOOOOOOOO*
  ::::::::::::::::::::::::::::::::::::: OOOOOOOOOOOOOO      oOOOo      OOOOOOOOOOOOOO
                                         OOOOOOOOOOOO    oOOOOOOOOOo    OOOOOOOOOOOO
                                          OOOOOOOOOO* oOOOOOOOOOOOOOOOo *OOOOOOOOOO
     ::::::::::::::::::::::::::::::::::::: *OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*
      :::::::::::::::::::::::::::::::::::::: OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
                                              *OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*
                                                 *OOOOOOOOOOOOOOOOOOOOOOOOO*
              ::::::::::::::::::::::::::::::::::::: *OOOOOOOOOOOOOOOOOOO*
                   :::::::::::::::::::::::::::::::::::: *OOOOOOOOOOO*

       Like code?
       Want to use your skills for public good?

       Apply to the U.S. Digital Corps:
       https://digitalcorps.gsa.gov/apply
-->
<head>
  <!-- Basic Page Needs ======================================= -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% if site.branch != "main" or page.noindex == true %}
  <!-- Exclude from Search Indexing -->
  <meta name="robots" content="noindex, nofollow">
  {% endif %}

  <!-- Mobile Specific Metas ================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#1b1b1b">

  <!-- Title and meta description ============================= -->
  <title>
    {% if page.title=="Home" %}{{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}
  </title>

  <meta property="og:title" content="{% if page.title=='Home' %}{{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  
  <meta property="og:type" content="article">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@{{site.social.twitter}}" />
  
  <!-- alternate page image -->
  {% if page.social=="apply" %}
  <meta property="og:image" content="{{site.url}}{% asset digitalcorps-apply.png @path %}">
  {% else %}
  <meta property="og:image" content="{{site.url}}{% asset digitalcorps-social.png @path %}">
  {% endif %}

  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  
  <!-- Favicons =============================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="{% asset favicon.ico @path %}">
  <link rel="icon" type="image/png" href="{% asset favicon.png @path %}">
  <!-- 192x192, as recommended for Android
    http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    -->
  <link rel="icon" type="image/png" sizes="192x192" href="{% asset favicon-192.png @path %}">
  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="{% asset favicon-57.png @path %}">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% asset favicon-72.png @path %}">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% asset favicon-114.png @path %}">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% asset favicon-144.png @path %}">

  <!-- CSS ==================================================== -->
  {% asset index.scss %}

  <!-- Site Scripts ========================================= -->
  {% include scripts-head.html %}
</head>
