<a class="usa-link" href="#tech-field-modal" aria-controls="tech-field-modal" data-open-modal>{{include.words}}</a>
<div class="usa-modal" id="tech-field-modal" aria-labelledby="modal-1-heading" aria-describedby="modal-1-description">
    <div class="usa-modal__content">
        <div class="usa-modal__main">
            <h3 class="usa-modal__heading text-center" id="modal-1-heading">
                Technology fields
            </h3>
            <div id="modal-1-description text-center">
                Computer science, engineering, information science, information systems management,
                mathematics, operations research, statistics, or technology management or degree that provided a
                minimum of 24 semester hours in one or more of the fields identified above and required the
                development or adaptation of applications, systems or networks.
            </div>
            <div class="usa-modal__footer text-center">
                <!-- 
                <button type="button" class="usa-button usa-button--unstyled padding-105 text-center"
                    data-close-modal>
                    CLOSE
                </button>
                -->
            </div>
        </div>
        <button class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="{{site.baseurl}}/img/sprite.svg#close"></use>
            </svg>
        </button>
    </div>
</div>