<div class="filters">
  <div class="filters__left ">
    <div class="filter_col" id="agencies">
      <select aria-labelledby="agencies" class="usa-select" name="project-agencies" id="project-agencies-select">
        <option data-filter="all" disabled selected>Filter by agency</option>
        <option data-filter="all">All Agencies</option>
        <option data-filter="acf"> Administration for Children and Families </option> 
        <option data-filter="cmms"> Centers for Medicare and Medicaid Services </option>
        <option data-filter="cfpb"> Consumer Financial Protection Bureau </option>
        <option data-filter="ci"> Cybersecurity & Infrastructure Security Agency</option>
        <option data-filter="dhhs"> Department of Health and Human Services </option> 
        <option data-filter="dos"> Department of State </option> 
        <option data-filter="va"> Department of Veterans Affairs </option>
        <option data-filter="epa"> Environmental Protection Agency </option>
        <option data-filter="gsa"> General Services Administration</option> 
        <option data-filter="opm"> Office of Personnel Management </option> 
        <!-- <option data-filter="sba"> Small Business Administration </option> -->
        <option data-filter="cb"> U.S. Census Bureau </option>
        <option data-filter="cis"> U.S. Citizenship and Immigration Services </option>
      </select>
    </div>
    <div class="filter_col" id="impacts">
      <select aria-labelledby="impacts" class="usa-select" name="project-impact" id="project-impact-select">
        <option data-impact="all" disabled selected>Filter by impact</option>
        <option data-impact="all">All Impact Areas</option>
        <option data-impact="capacity">Capacity Building</option>
        <option data-impact="cybersecurity">Cybersecurity</option>
        <option data-impact="equity">Equity</option>
        <option data-impact="health">Health</option>
        <option data-impact="immigration">Immigration</option>
        <option data-impact="public-exp">Public Experience</option>
      </select>
    </div>
  </div>
</div>
