---
layout: base
---

<div class="usa-layout-docs usa-section">

  <div class="grid-container">
    <div class="grid-row grid-gap">

      <aside class="sidenav desktop:grid-col-3">
        {% assign sidenav = site.data.nav[page.category] %}
        {% if sidenav %}
        <ul class="site-sidenav usa-sidenav">
          {% include nav/list.html links=sidenav %}
        </ul>
        {% endif %}
      </aside>

      <main id="main-content" class="usa-layout-docs__main desktop:grid-col-fill usa-prose">
        <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
        {{ content }}
      </main>

    </div>
  </div>

</div>