<!-- side nav -->
            <nav class="sidenav padding-bottom-4 padding-left-1 desktop:grid-col-2 desktop:display-inline">
                <ul class="usa-sidenav usa-sticky-sidenav">
                    <li class="usa-sidenav__item">
                        <a href="#the-about">
                           About the agency
                        </a>
                    </li>
                    <li class="usa-sidenav__item">
                        <a href="#the-challenge">
                            The challenge
                        </a>
                    </li>
                    <li class="usa-sidenav__item">
                        <a href="#the-approach">
                            The approach
                        </a>
                    </li>
                    {% if page.the_impact %}
                    <li class="usa-sidenav__item">
                        <a href="#the-impact">
                            The impact
                        </a>
                    </li>
                    {% endif %}
                    {% if page.the_solution %}
                    <li class="usa-sidenav__item">
                        <a href="#the-solution">
                            The solution
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>

