<section class="usa-section {{ include.customstyles }}">
  <div class="grid-container highlight tablet:padding-x-2">
    <div class="grid-col">
      <p class="lead text-primary padding-y-0">
        Interested in staying in touch with the U.S. Digital Corps?
        <br class="display-none tablet:display-inline" />
        Join our mailing list for news, updates, and events.
      </p>
      <div class="text-center">
        <a class="usa-button usa-button--primary"
          href="https://public.govdelivery.com/accounts/USGSATTS/subscriber/new?topic_id=USGSATTS_108">
          Subscribe
        </a>
      </div>
    </div>
  </div>
</section>
