<!-- SIGN-UP -->
<section class="usa-section {{ include.customstyles }}">
  <div class="grid-container highlight">
    <div class="grid-col-10 grid-offset-1 tablet:grid-col-12,grid-offset-0">
      <p class="lead text-primary padding-y-0">
        More information about the Digital Corps fellowship and application will be available later this fall. Join
        our mailing list to stay in the loop.
      </p>
      <div class="text-center">
        <a class="usa-button usa-button--primary"
          href="https://public.govdelivery.com/accounts/USGSATTS/subscriber/new?topic_id=USGSATTS_108">
          Sign up
        </a>
      </div>
    </div>
  </div>
</section>