// AGENCY PAGE CUSTOMIZATION
.agencies-banner {
    .usa-hero {
      background-image: url($baseurl + "/assets/images/stock/USDC_Agency_Hero.webp");
       //@include u-bg("primary-dark");
       @include u-text("primary-dark");
        background-position: center center;
        position: relative;
        min-height: 600px;
        //@include u-margin-bottom(4);
        max-width: 100%;

        // screen size adjustments
        @include at-media-max("desktop-lg") {
           // background-position: 30% top;
          // margin-bottom: 15%;
        }

        @include at-media-max("desktop") {
          // background-image: none;
          // background-color: #1a2c85;
            .grid-container {
                @include u-padding-x(0);
            }
        }

         @include at-media-max("mobile-lg") {
            @include u-padding-y(0);
            //background-position: 40% top;
            min-height: unset;
         }

        // callout container
        .usa-hero__callout {
            @include grid-col(5);
            @include grid-offset(7);
            @include u-margin-top(15);
            background-color: rgba(255, 255, 255, 0.6);
            // screen size adjustments
            @include at-media-max("desktop") {
                @include grid-col(auto);
                @include grid-offset(none);
                @include u-margin-top(0);
                background-color: rgba(255, 255, 255, 0.6);
                position: absolute;
                bottom: 0;
            }

            @include at-media-max("mobile-lg") {
                position: relative;
                min-height: 500px;

                .content {
                    @include u-padding-x(2);
                    @include u-padding-bottom(3);
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }

            // subtext
            h2 {
                @include u-margin-top(3);
                @include u-margin-bottom(0);
            }
        }
    }
    @media (min-width: 1024px) {
      .usa-hero {
        height: 100px;
      }
      .usa-hero__heading{
        margin-top: 35px;
        margin-bottom: 35px;
      }
    }
    
}

.agencies {
    @include u-padding-y(8);

    .grid-container {
        @include u-padding-x(15);

        // adjustments for screen size
        @include at-media-max("desktop") {
            @include u-padding-x(8);
        }

        @include at-media-max("tablet-lg") {
            @include u-padding-x(4);
        }

        @include at-media-max("tablet") {
            @include u-padding-x(2);
        }
    }

    p {
        @include body-font-larger();
        @include u-font("sans", "sm");
    }

    h2 {
        font-size: 1.95rem;
        font-weight: normal;
        font-style: italic;
        line-height: 1.2;

        a {
            text-decoration: none; 
            @include u-text("primary");
        }

        a:hover {
            @include u-text("primary-vivid");
        }
    }
}

.spacing{
    line-height: 1.5;
  }