// HOME customization

// banner
.home-banner {
  .usa-hero {
    @include u-margin-bottom(4);
    @include u-text("white");
    background-image: url($baseurl + "/assets/images/home/Home_Page_Banner.webp");
    background-position: 60% 30%;
    background-color: color("base-darkest");
    position: relative;
    overflow: hidden;
    min-height: 600px;

    // < tablet
    @include at-media-max("mobile-lg") {
      min-height: unset;
      @include u-padding-y(0);
      background-position: 70% 50%;
    }

    // callout container
    .usa-hero__callout {
      color: inherit;
      background-color: rgba(28, 29, 31, 0.55); // base-darkest #1c1d1f
      width: 100%;
      position: absolute;
      bottom: 0;

      // < tablet
      @include at-media-max("mobile-lg") {
        @include u-padding-x(2);
        @include u-padding-top(15);
        position: relative;
        min-height: 500px;
      }

      .grid-container {
        @include u-padding-x(0);
      }

      .usa-button {
        float: left;
        @include u-margin-top(3);

        // < tablet
        @include at-media("tablet") {
          float: right;
        }
      }

      // subtext
      h2 {
        @include u-margin-top(3);
        @include u-margin-bottom(0);
        color: inherit;
      }
    }
  }
}

// section customization
.apply-now {
  @include u-padding(0);
  @include u-margin-top(8);
  @include u-bg("primary");
  background-image: url($baseurl + "/assets/images/stock/capitol-blue.webp");
  background-position: 50% 82%; // left top
  background-size: cover;

  @include at-media-max("tablet") {
    @include u-margin-top(5);
  }

  @include at-media-max("mobile-lg") {
    background-position: 35% top;
  }
}

// mini boxes
// see boxes.scss for styling and sizes

.home-fellows {
  @include u-margin-bottom(2);
  background-image: url($baseurl + "/assets/images/home/Meet_The_Fellows.webp");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left;

  // desktop
  @include at-media-max("desktop") {
    background-position: -40px 0;
  }

  // mobile
  @include at-media-max("mobile-lg") {
    background-position: -55px 0;
  }
}

.home-opportunity {
  @include u-margin-bottom(2);
  background-image: url($baseurl + "/assets/images/home/Opportunity.webp");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left;

  // desktop
  @include at-media-max("desktop") {
    background-position: -40px 0;
  }

  // mobile
  @include at-media-max("mobile-lg") {
    background-position: -55px 0;
  }
}

.home-about {
  background-image: url($baseurl + "/assets/images/home/Who_we_are_image.webp");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left;

  // desktop
  @include at-media-max("desktop") {
    background-position: -20px 0;
  }

  // mobile
  @include at-media-max("mobile-lg") {
    background-position: -30px 0;
  }
}

.home-projects {
  @include u-margin-bottom(2);
  background-image: url($baseurl + "/assets/images/home/Home_Page_Projects_image.webp");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left;
  object-fit: contain;

  // desktop
  @include at-media-max("desktop") {
    background-position: -20px 0;
  }

  // mobile
  @include at-media-max("mobile-lg") {
    background-position: -30px 0;
  }
}

//Carousel Styling
.carousel-container {
  max-width: 1360px;
  margin: auto;
  min-height: 200px;
  position: relative;
  scroll-snap-type: x mandatory;
  scroll-padding-inline: 1rem;
}
@media screen and (max-width: 768px) {
  .carousel-container {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .carousel-container {
    width: 85%;
  }
}
.carousel-container .carousel-inner {
  overflow: hidden;
}
.carousel-container .track {
  display: inline-flex;
  transition: transform 1s;
}
.carousel-container .card-container {
  padding-right: 3.5px;
  box-sizing: border-box;
  scroll-snap-align: start;
}

.blog-nav div {
  width: 60px;
  height: 100%;
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
}
.blog-nav .prev {
  left: -30px;
  display: none;
}
.blog-nav .prev.show {
  display: block;
  background-image: url($baseurl + "/assets/images/icons/Left_Inactive.png");
  background-repeat: no-repeat;
  &:hover {
    background-image: url($baseurl + "/assets/images/icons/Left_Hover.png");
  }
}
.blog-nav .next {
  right: -30px;
  background-repeat: no-repeat;
  background-image: url($baseurl + "/assets/images/icons/Right_Inactive.png");
  &:hover {
    background-image: url($baseurl + "/assets/images/icons/Right_Hover.png");
  }
}
.blog-nav .next.hide {
  display: none;
}

.blog-carousel-card > * {
  flex: 1;
}

// Blog Section
.snap-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}
.snap-inline > * {
  scroll-snap-align: start;
}
.blog-carousel-card {
  @include u-padding(2);
  @include u-margin(3);
  @include u-bg("base-lighter");
  width: 400px;
  min-height: 300px;
  height: 100%;
  white-space: normal;
  border-top-style: solid;
  border-top-color: #212463;
  border-width: thick;

  // <tablet
  @include at-media-max("tablet") {
    @include u-margin-top(1);
    @include u-margin-x(1);
    max-width: 100%;
  }
  @include at-media-max("mobile-lg") {
    width: 340px;
  }
  a {
    border: none;
    text-decoration: none;
    @include u-color("base-darker");
    &:hover {
      h2 {
        text-decoration: underline;
      }
    }
    .body-intro--bold {
      color: black;
      @include u-font("sans", 9);
      margin: 0; // using padding instead of default margin creates a cleaner focus outline
      @include u-padding-top(2.5);
      @include u-padding-bottom(1.5);
      line-height: 30px;
    }
    p {
      margin-top: 0;
      padding-top: 0;
      line-height: 21px;
      @include u-font("sans", 5);
    }
  }
  .blog-carousel-img {
    @include at-media("desktop") {
      display: flex;
      align-items: center;
      justify-content: center;
      @include u-padding-bottom(2);
    }
    .img-size {
      width: 100%;
      height: 230px;
    }
  }
}

// Smaller devices swipe through press section
@media screen and (max-width: 375px) {
  .blog-carousel-card {
    width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .blog-carousel-card {
    width: 252px;
  }
}

@media screen and (min-width: 750px) and (max-width: 768px) {
  .blog-carousel-card {
    width: 454px;
  }
  .carousel-container .card-container {
    padding: 0px 75px;
  }
}