// USWDS OVERRIDES for FOOTER

.usa-footer {
  // PRIMARY SECTION
  .usa-footer__primary-section {
    @include u-bg("primary");
    @include u-text("white");
    @include u-padding-top(6);
    @include u-padding-bottom(4);
  }

  // lists
  .usa-list {
    @include at-media-max("tablet") {
      @include u-padding-top(4);
    }

    li {
      line-height: 1.2em;
    }
  }

  // column links
  .usa-footer__secondary-link {
    @include u-margin-x(0);
    a {
      @include u-text("white");
      
      &:active {
        @include u-text("white");
      }

      &:hover{
        @include u-text("primary-light");
      }
    }
  }

  // SOCIAL MEDIA ICONS

  .usa-social-link {
    @include u-margin(0);
    line-height: 1em;
    background-size: auto 1.5rem;
    background-color: transparent;
    filter: brightness(0) invert(1); // white foreground
    border: solid;
    border-width: 2px;
    border-radius: 50%;

    &:hover {
      -webkit-transform: scale(1.1,1.1);
      -moz-transform: scale(1,1);
      -ms-transform: scale(1,1);
      -o-transform: scale(1,1);
      transform: scale(1.1,1.1);
    }
  }

  .usa-social-link--linkedin {
    background-image: url(asset_path("linkedin.svg")), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
  }

  .usa-social-link--facebook {
    background-image: url(asset_path("social-icons/facebook25.svg")), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: auto 1.75rem;
  }

  .usa-social-link--twitter {
    background-image: url(asset_path("social-icons/twitter16.svg")), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: auto 1.75rem;
  }

  .usa-social-link--instagram {
    background-image: url(asset_path("social-icons/instagram25.svg")), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: auto 1.6rem;
  }

  // SIGN-UP

  .usa-sign-up {
    @include u-padding-bottom(0);

    .usa-form {
      max-width: 350px;
      .usa-input {
        @include u-border(0);
        @include u-text("primary-lighter");
        background: rgba(255, 255, 255, 0.1);
        margin-top: 0;

        &::placeholder {
          @include u-text("primary-lighter");
          opacity: 0.5;
        }
      }
      .usa-button {
        @include u-bg("primary-vivid");
        margin-top: 0.5rem;

        &:hover {
          @include u-text("primary-dark");
          @include u-bg("white");
        }
      }
    }
  }

  .usa-sign-up__heading {
    @include u-text("white");
    @include u-text("normal");
    @include u-font("sans", "md");
  }
}
