// USWDS OVERRIDES for HERO

// MIXINs FOR HERO VARIANTS

@mixin hero-size($desktop: 600px, $mobile: 300px) {
  height: $mobile;
  @include at-media("tablet") {
    height: $desktop;
  }
}

// OVERRIDES
.usa-hero {
  // @include hero-size(600px, 450px);
  // padding: 0;
  line-height: 0.9;

  // Variants
  &--medium {
    @include hero-size(500px, 400px);
  }

  &--short {
    @include hero-size(400px, 300px);
  }

  &--tiny {
    @include hero-size(300px, 200px);
  }

  // Background image defaults
  // see customizations at bottom for unique page images
  background-image: none;
  background-size: cover;
  background-position: center;
}
