// USWDS OVERRIDES for HERO

// MIXINs FOR HERO VARIANTS
@mixin hero-short {
  height: 250px;
  @include at-media("tablet") {
    height: 350px;
  }
}

@mixin hero-medium {
  height: 400px;
  @include at-media("tablet") {
    height: 500px;
  }
}

// OVERRIDES
.usa-hero {
  padding: 0;
  height: 300px;
  @include at-media("tablet") {
    height: 600px;
  }

  // Variants
  &--short {
    @include hero-short;
  }

  &--medium {
    @include hero-medium;
  }

  // Background image defaults
  // see customizations at bottom for unique page images
  overflow: hidden;
  background-size: cover;
  background-image: none;

  // exclude background in mobile view
  @include at-media-max("tablet") {
    background-image: none;
  }
}

// MIXINS FOR BACKGROUND IMAGES

// SKEWED IMAGE
@mixin hero-skewed {
  background-size: auto 100%;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    @include u-bg("white");
    content: "";
    position: absolute;

    top: 0;
    right: 50%;

    height: 100%;
    width: 150%;

    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
}

// BACKGROUND IMAGES
.usa-hero.home {
  // desktop and tablet
  @include hero-medium;
  @include hero-skewed;
  background-image: url(asset_path("banner-home.jpg"));
  background-position: right;

  // mobile alternative
  // TODO: add different image that works on mobile?
  @include at-media-max("tablet") {
    @include hero-medium;
    background-image: none;
  }
}

.about .usa-hero {
  @include hero-short;
  background-image: url(https://via.placeholder.com/1920x600);
  background-position: center;
}
.opportunity .usa-hero {
  @include hero-short;
  background-image: url(https://via.placeholder.com/1920x600);
  background-position: center;
}
.apply .usa-hero {
  @include hero-short;
  background-image: url(https://via.placeholder.com/1920x600);
  background-position: center;
}

// HERO TYPOGRAPHY
// note: some font specs for HERO are inherited from typography.scss

.usa-hero__callout {
  background-color: transparent;
  color: color("primary-dark");
  max-width: 40rem;
  padding: 4rem 0 4rem 0;
  position: relative;

  h2 {
    @include u-font("sans", "xl");
    @include u-text("normal");
    color: color("primary-dark");
    text-transform: none;
    margin-top: 0.5rem;
    line-height: 1;
  }
}

.usa-hero__heading {
  @include u-font-family("sans");
  @include u-text("primary-dark");
  line-height: 0.9;
  font-size: 2.813rem;
  @include at-media("mobile-lg") {
    font-size: 3.75rem;
  }
}
