// USWDS OVERRIDS for LOGO
// note: mobile menu breaks at desktop threshold

.usa-logo {
  display: inline;
  margin: 0;

  // less than desktop
  @include at-media-max("desktop") {
    @include u-margin-x(4);
  }

  // less than tablet
  @include at-media-max("tablet") {
    @include u-margin-x(2);
  }

  a > img {
    height: auto;
    width: 350px;
    padding: 15px 0 10px 0;

    // less than desktop
    @include at-media-max("desktop") {
      max-width: 250px;
    }
  }
}
