// USWDS OVERRIDES for LOGO
// note: mobile menu breaks at desktop threshold

.usa-logo {
  margin: 0;
  font-size: 1rem;

  // < desktop
  @include at-media-max("desktop") {
    @include u-margin-x(4);
  }

  // < tablet
  @include at-media-max("tablet") {
    @include u-margin-x(2);
  }

  img {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    width: 340px;
    max-width: unset;
    shape-rendering: geometricPrecision;

    // < desktop-lg
    @include at-media-max("desktop-lg") {
      width: 305px;
    }

    // < desktop
    @include at-media-max("desktop") {
      width: 250px;
    }
  }
}
