// USWDS OVERRIDES for HEADER/NAV

// remove top and bottom section borders
.usa-header + main,
.usa-header + .usa-section {
  border-top: none;
}
.usa-navbar {
  border-bottom: none;
}

// remove 33% width, fixed height for logo area
.usa-header--basic .usa-navbar {
  width: unset;
}

// remove bottom padding for desktop menu
.usa-header--basic .usa-nav {
  @include at-media("desktop") {
    padding: 0 0 0 0.5rem;
  }
}

// menu item layout, centered vertically
.usa-header--basic .usa-nav-container {
  @include at-media("desktop") {
    align-items: center;
  }
}

// menu font, desktop
.usa-nav__primary > .usa-nav__primary-item {
  @include at-media("desktop") {
    @include u-font("sans", "md");
    text-transform: uppercase;
  }

  & > a {
    @include u-text("black");
    @include u-text("normal");

    &:active {
      @include u-text("base");
    }
    &:hover {
      @include u-text("base-dark");
    }
  }
}

// menu font, mobile
.usa-header--basic .usa-nav__primary-item > .usa-current,
.usa-header--basic .usa-nav__link {
  @include u-text("bold");
}

// indicator
.usa-header--basic .usa-nav__primary-item > .usa-current::after,
.usa-header--basic .usa-nav__link:hover::after {
  @include u-bg("secondary-dark");

  // desktop view, resize
  @include at-media("desktop") {
    height: 2px;
    bottom: 8px;
  }
}

// search bar
.usa-nav .usa-search {
  margin-left: 0;
}
