// USWDS OVERRIDES for HEADER/NAV

// removes top and bottom section borders
.usa-header + main,
.usa-header + .usa-section {
  border-top: none;
}
.usa-navbar {
  border-bottom: none;
}

// menu item layout, centered vertically
.usa-header--basic .usa-nav-container {
  @include at-media("desktop") {
    align-items: center;
  }
}

// menu font, desktop
.usa-nav__primary > .usa-nav__primary-item {
  @include at-media("desktop") {
    @include u-font("sans", "md");
    @include u-text("bold");
    text-transform: uppercase;
  }
}

// menu font, mobile
.usa-header--basic .usa-nav__primary-item > .usa-current,
.usa-header--basic .usa-nav__link {
    @include u-text("bold");
}

// indicator
.usa-header--basic .usa-nav__primary-item > .usa-current::after,
.usa-header--basic .usa-nav__link:hover::after {

  @include u-bg("secondary-dark");

  // desktop view, resize
  @include at-media("desktop") {
    height: 2px;
    bottom: 8px;
  }
}

// logo, fix for tablet margin
.usa-logo {
  @include at-media("tablet"){
    @include u-margin-x(4);
  }
}

// search bar
.usa-nav .usa-search {
  margin-left: 0;
}
