// USWDS SETTINGS

// General
$theme-show-notifications: false;

// Layout
$theme-banner-max-width: "none";

$theme-grid-container-max-width: "widescreen";
$theme-site-margins-breakpoint: "desktop";
$theme-site-margins-width: 4;
$theme-site-margins-mobile-width: 2;

// Fonts
$theme-font-sans-custom-stack: Roboto, Source Sans Pro Web, Helvetica Neue, Helvetica, Arial, sans-serif;
$theme-font-weight-medium: 500;
$theme-font-weight-semibold: 600;

$theme-font-type-cond: false;
$theme-font-type-icon: false;
$theme-font-type-lang: false;
$theme-font-type-mono: "roboto-mono";
$theme-font-type-sans: "source-sans-pro";
$theme-font-type-serif: $theme-font-type-sans;

// Base colors
$theme-color-base-family: "gray-cool";
$theme-color-base-lightest: "gray-5";
$theme-color-base-lighter: "gray-cool-10";
$theme-color-base-light: "gray-cool-30";
$theme-color-base: "gray-cool-50";
$theme-color-base-dark: "gray-cool-60";
$theme-color-base-darker: "gray-cool-70";
$theme-color-base-darkest: "gray-90";
$theme-color-base-ink: "gray-90";

// Primary colors
$theme-color-primary-family: "blue-vivid";
$theme-color-primary-lightest: false;
$theme-color-primary-lighter: "indigo-cool-10";
$theme-color-primary-light: "indigo-cool-10";
$theme-color-primary: "indigo-cool-80v";
$theme-color-primary-vivid: "blue-40v";
$theme-color-primary-dark: "gray-warm-90";
$theme-color-primary-darker: "gray-warm-90";
$theme-color-primary-darkest: false;

// Secondary colors
$theme-color-secondary-family: "red-vivid";
$theme-color-secondary-lightest: false;
$theme-color-secondary-lighter: "red-10v";
$theme-color-secondary-light: "red-10v";
$theme-color-secondary: "red-50v";
$theme-color-secondary-vivid: "red-cool-50v";
$theme-color-secondary-dark: "red-60v";
$theme-color-secondary-darker: "red-60v";
$theme-color-secondary-darkest: false;
