@mixin header-em {
  em {
    @include u-text("primary-vivid");
    font-style: italic;
  }

  &.accent::before {
    @include u-text("bold");
    color: color("primary-vivid");
    content: "// ";
  }
}

h1,
.as-h1 {
  @include u-font("sans", "2xl");
  @include u-text("bold");
  @include u-text("primary");
  @include header-em;
  text-transform: uppercase;
  // letter-spacing: letter-spacing(-1);
}

h2,
.as-h2 {
  @include u-font("sans", "xl");
  @include u-text("semibold");
  @include u-text("primary");
  @include header-em;
  text-transform: uppercase;
}

h3,
.as-h3,
h4,
.as-h4 {
  @include u-font("sans", "sm");
  @include u-text("normal");
  @include u-text("primary-vivid");
}

ul,
li {
  @include u-text("light");
  strong {
    @include u-text("bold");
  }
}

.usa-prose {
  @include header-em;
  max-width: unset;

  p,
  ul li,
  ol li {
    max-width: unset;
  }
}

// CUSTOM SECTIONS

.highlight {
  @include u-font("sans", "lg");

  h1 {
    margin-bottom: 0;
  }
}
