// GENERAL LAYOUT OVERRIDES

html {
    scroll-behavior: smooth;
}

body {
    // always show vertical scrollbar
    // to prevent page jerk
    overflow-y: scroll;
}

.usa-section,
.usa-banner,
.usa-header,
.usa-hero,
.usa-footer {
    // global minimum width
    min-width: 320px;
}


// MIXINs

@mixin box-height($desktop: 600px, $mobile: 300px) {
    height: $mobile;
    @include at-media("tablet") {
      height: $desktop;
    }
  }
  