// GENERAL LAYOUT OVERRIDES

html {
    scroll-behavior: smooth;
}

body {
    // always show vertical scrollbar
    // to prevent page jerk
    overflow-y: scroll;
}

.usa-section,
.usa-banner,
.usa-header,
.usa-hero,
.usa-footer {
    // global minimum width
    min-width: 320px;
}

// hidden
.for-desktop {
    @include at-media-max("tablet") {
        display: none;
    }
}

.for-tablet {
    @include at-media("tablet") {
        display: none;
    }
}
