// GENERAL LAYOUT OVERRIDES

html {
    scroll-behavior: smooth;
}

body {
    // always show vertical scrollbar
    // to prevent page jerk
    overflow-y: scroll;
}

.usa-section,
.usa-banner,
.usa-header,
.usa-hero,
.usa-footer {
    min-width: 300px;
}
