// GENERAL TYPOGRAPHY
// further specification done in component styles

@mixin header-em {
  em {
    @include u-text("primary-vivid");
    font-style: italic;
  }
}

@mixin white-url() {
  color: color("white");
  text-decoration: none;
  
  &:active,
  &:visited {
      text-decoration: none;
      color: color("white");
  }
  &:hover {
      text-decoration: underline;
      color: color("primary-light");
  }
}

h1,
.as-h1 {
  @include u-font("sans", "3xl");
  @include u-text("bold");
  @include u-text("primary");
  @include header-em;
  line-height: 1;
  cursor: default;
}

h2,
.as-h2 {
  @include u-font("sans", "xl");
  @include u-text("semibold");
  @include u-text("primary");
  @include header-em;
  line-height: 1;
  cursor: default;
}

h3,
.as-h3,
h4,
.as-h4 {
  @include u-font("sans", "md");
  @include u-text("normal");
  @include u-text("primary-vivid");
  line-height: 1;
  cursor: default;
}

ul,
li {
  @include u-text("light");
  strong {
    @include u-text("bold");
  }
}

.usa-prose {
  @include header-em;
  max-width: unset;

  p,
  ul li,
  ol li {
    max-width: unset;
  }
}

// highlighter background style
.tbd,
.highlighter {
  background-color: rgba(222, 244, 64, 90%);
}

// standard links
.usa-link {
  &:hover{
    @include u-text("primary-vivid");
  }
}