// GENERAL TYPOGRAPHY
// further specification done in component styles

// paragraph (body line spacing)
@mixin body-font-larger {
  @include u-font("sans", 8);
  @include u-line-height('body', 5)
}

@mixin body-font-medium {
  @include u-font("sans", "md");
  @include u-line-height('body', 5)
}

@mixin body-font-standard {
  @include u-font("sans", "sm");
  @include u-line-height('body', 4)
}


// dark background urls
@mixin white-url() {
  @include u-text("white");

  &:active {
    @include u-text("white");
  }

  &:hover {
    @include u-text("primary-light");
  }
}

@mixin white-url-undecorated() {
  @include white-url();
  text-decoration: none;

  &:active,
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

h1,
.as-h1 {
  @include u-font("sans", "2xl");
  @include u-text("bold");
  @include u-text("primary");
  line-height: 1em;
  cursor: default;
}

h2,
.as-h2 {
  @include u-font("sans", "xl");
  @include u-text("semibold");
  @include u-text("primary");
  line-height: 1em;
  cursor: default;
}

h3,
.as-h3{
  @include u-font("sans", "lg");
  @include u-text("semibold");
  @include u-text("primary-vivid");
  line-height: 1em;
  cursor: default;
}

h4,
.as-h4 {
  @include u-font("sans", 8);
  @include u-text("semibold");
  @include u-text("primary");
  line-height: 1em;
  cursor: default;
}

ul,
li {
  @include u-text("light");
  strong {
    @include u-text("bold");
  }
}

.usa-prose {
  max-width: unset;

  p,
  ul li,
  ol li {
    max-width: unset;
  }
}

// highlighter background style
.tbd,
.highlighter {
  color: color("ink");
  background-color: rgba(222, 244, 64, 90%);
}

// standard links
.usa-link {
  &:hover {
    @include u-text("primary-vivid");
  }
}
