---
layout: default
title: Apply
permalink: /apply/
description: "Want to use your tech skills for good? Join the United States Digital Corps!"
social: apply
---

<!-- BANNER -->
<section class="apply-banner">
  <div class="usa-hero">
    <div class="grid-container">
      <div class="usa-hero__callout">
        <div class="content">
          <h1 class="usa-hero__heading">Apply</h1>
          {% if site.apply_now %}
          <p><strong>Applications are now open!</strong> Links to apply for each track are included below.</p>
          <p>Applications for all five tracks will close at 11:59pm ET on November 17th. Interested candidates are strongly encouraged to apply early as there is an application limit in each track that may cause applications to close before the deadline. Late applications will not be accepted.</p>
          <p class="margin-bottom-0">Before applying, we encourage you to visit our <a class="usa-link" href="../process/">Application Process</a> page for eligibility criteria and application tips. Our <a class="usa-link" href="../faq/">FAQs</a> are also a great resource.</p>
          <p>
            <strong>Resume tips and application process sessions:</strong>
            <ul>
              <li> <a target="_blank" href="https://youtu.be/pg2cY0lBBHg?si=PRt2ZRetneFwPVUq">Watch a recording</a></li>
            </ul>
          </p>
          {% else %}
          <p>
            <strong>Applications for the 2025 U.S. Digital Corps cohort will open this fall.</strong><br/>
          </p> 
          <p class="margin-bottom-0">
            Subscribe to our newsletter below to stay informed about future opportunitites to apply to the Digital Corps as well as for upcoming news, updates, and events. 
          </p>
          <br/>
          <div class="text-left">
            <a class="usa-button usa-button--primary"
              href="https://public.govdelivery.com/accounts/USGSATTS/subscriber/new?topic_id=USGSATTS_108">
              Subscribe
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% if site.apply_now %}
<!-- USA JOBS PROCESS -->
<section class="usa-section usajobs-process bg-base-lightest">
  <div class="highlight">
    <h2>Apply on USAJOBS</h2>
  </div>

  <div class="usa-step-indicator usa-step-indicator--counters">
    <ol class="usa-step-indicator__segments">
      <li class="usa-step-indicator__segment step1">
        <div class="usa-step-indicator__segment-label">
          <div class="label">
            Step One
          </div>
          <div class="sublabel">
            You will need to <a class="usa-links usa-link--external" target="_blank" rel="noopener"
              href="https://www.usajobs.gov/?c=create-profile">create an account</a> if you do not already have one.
          </div>
        </div>
      </li>
      <li class="usa-step-indicator__segment step2">
        <div class="usa-step-indicator__segment-label">
          <div class="label">
            Step Two
          </div>
          <div class="sublabel">
            Apply before 11:59pm ET on November 17.
          </div>
        </div>
      </li>
      <li class="usa-step-indicator__segment step3">
        <div class="usa-step-indicator__segment-label">
          <div class="label">
            Step Three
          </div>
          <div class="sublabel">
            Check your application status on your USAJOBS profile.
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>

<!-- TRACK SELECTIONS -->
<section class="usa-section apply-tracks" id="tracks">

  <div class="highlight padding-x-2">
    <h3>Click the link below for your selected track</h3>
  </div>
  
  {% include tracks/track-bubbles.html %}
  
  <!-- Application Process Video -->
  <!-- <div class="highlight">
    <p class="text-center margin-top-4">
      Review the eligibility and application process by checking out this video from our recent info session.
    </p>
  </div>
  <iframe class="video" src="https://youtu.be/pg2cY0lBBHg?si=PRt2ZRetneFwPVUq" title="U.S. Digital Corps Application Process"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe> -->

  {% if site.apply_now %}
  <!-- YouTube Link -->
  <section class="usa-section apply-now">
    <div class="grid-container highlight">
      <div class="padding-y-5 grid-col-10 grid-offset-1 tablet:grid-col-12,grid-offset-0">
        <h2 class="text-primary-light margin-bottom-0">Watch a recent info session!</h2>
        <p class="lead text-white margin-y-0 padding-y-1">
          Did you miss our first info session about our application process and tips for applying? <br/> We encourage you to watch a recording before you apply. 
        </p>
        <div class="text-center margin-top-2">
          <a class="usa-button usa-button--baselighter" target="_blank" href="https://youtu.be/pg2cY0lBBHg?si=PRt2ZRetneFwPVUq">
            <span>Application Process Info Session</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  <!-- EEO -->
  <div class="highlight">
    <div class="margin-top-4 text-center">
      <p>
        <a class="usa-link usa-link--external text-bold" target="_blank" rel="noopener"
          href="https://www.gsa.gov/reference/civil-rights-programs/equal-employment-opportunity">
          Equal Opportunity Employer</a>
      </p>
      <p class="margin-bottom-0">
        The U.S. Digital Corps is an Equal Opportunity Employer.
        We’re building cohorts of Fellows that represent our country.
        We don’t discriminate on the basis of race, color, religion, sex, gender identity or expression,
        national origin, political affiliation, sexual orientation, marital status, disability,
        genetic information, age, membership in an employee organization, retaliation, parental status,
        military service, or other non-merit factors.
      </p>
    </div>
  </div>
</section>
{% endif %}

<!-- SIGN-UP -->
<section class="usa-section bg-base-lighter">
  <div class="grid-container highlight">
    <div class="grid-row">

      <!-- EVENTS SECTION -->
    <div style="text-align: left; align-items: center;" class="apply-events">
      <h3 class="site-preview-heading">UPCOMING EVENTS</h3>
      <p>Please email <a href="mailto:{{site.email}}">{{site.email}}</a> if you'd like to invite USDC to speak or present at your event.</p>
      <ul class="usa-collection">
        <li class="usa-collection__item">
          <div class="usa-collection__calendar-date">
            <time datetime="2024-10-4T12:00:00+01:00"
              ><span class="usa-collection__calendar-date-month">OCT</span>
              <span class="usa-collection__calendar-date-day">4</span></time
            >
          </div>
          <div class="usa-collection__body">
            <h4 class="usa-collection__heading">
              <a
                class="usa-link"
                href="https://conference.aises.org/"
                >2024 AISES National Conference</a
              >
            </h4>
            <p class="usa-collection__description">
              Our team will be at the AISES National Conference college and career fair! We are looking forward to meeting Indigenous STEM professionals and students and sharing how you can use your tech skills to improve government services for all.
            </p>
          </div>
        </li>
        <li class="usa-collection__item">
          <div class="usa-collection__calendar-date">
            <time datetime="2024-10-8T12:00:00+01:00"
              ><span class="usa-collection__calendar-date-month">OCT</span>
              <span class="usa-collection__calendar-date-day">8-11</span></time
            >
          </div>
          <div class="usa-collection__body">
            <h4 class="usa-collection__heading">
              <a
                class="usa-link"
                href="https://ghc.anitab.org/"
                >2024 Grace Hopper Celebration</a
              >
            </h4>
            <p class="usa-collection__description">
              USDC leadership and Fellows are back at GHC this year! Stop by our booth to meet with Fellows and learn more about how you can kickstart your career in civic tech.
            </p>
          </div>
        </li>
        <li class="usa-collection__item">
          <div class="usa-collection__calendar-date">
            <time datetime="2024-10-10T12:00:00+01:00"
              ><span class="usa-collection__calendar-date-month">OCT</span>
              <span class="usa-collection__calendar-date-day">10</span></time
            >
          </div>
          <div class="usa-collection__body">
            <h4 class="usa-collection__heading">
              <a
                class="usa-link"
                href="https://gsa.zoomgov.com/webinar/register/WN_CAWntKLySsyXIOFbSr1lKQ"
                >U.S. Digital Corps Info Session</a
              >
            </h4>
            <p class="usa-collection__description">
              In anticipation of applications for our 2025 cohort opening later this Fall, join us for a general info session to learn more about the program and launching your civic tech career in government.
            </p>
          </div>
        </li>
        <li class="usa-collection__item">
          <div class="usa-collection__calendar-date">
            <time datetime="2024-10-11T12:00:00+01:00"
              ><span class="usa-collection__calendar-date-month">OCT</span>
              <span class="usa-collection__calendar-date-day">11</span></time>
          </div>
          <div class="usa-collection__body">
            <h4 class="usa-collection__heading">
              <a
                class="usa-link"
                href="https://alltechishuman.org/all-tech-is-human-blog/public-interest-tech-summit-amp-career-fair"
                >Stanford University's Public Interest Tech Summit & Career Fair
              </a>
            </h4>
            <p class="usa-collection__description">
              Our team will be at the Stanford University's public interest tech summit and career fair! Be sure to stop by to meet our team and learn more about how you can kickstart your career in civic tech.
            </p>
          </div>
        </li>
        <li class="usa-collection__item">
          <div class="usa-collection__calendar-date">
            <time datetime="2024-10-16T12:00:00+01:00"
              ><span class="usa-collection__calendar-date-month">OCT</span>
              <span class="usa-collection__calendar-date-day">16</span></time>
          </div>
          <div class="usa-collection__body">
            <h4 class="usa-collection__heading">
              <a
                class="usa-link"
                href="https://eop.com/career-expos/stem-diversity-exhibitor-intro/"
                >EOP's STEM Diversity Career Expo
              </a>
            </h4>
            <p class="usa-collection__description">
             USDC will be attending EOP's STEM Diversity virtual career expo. Stop by our booth to learn more about the program and connect with our team and current Fellows ahead of our next application cycle opening later this Fall.
            </p>
          </div>
        </li>
        <li class="usa-collection__item">
          <div class="usa-collection__calendar-date">
            <time datetime="2024-10-27T12:00:00+01:00"
              ><span class="usa-collection__calendar-date-month">OCT</span>
              <span class="usa-collection__calendar-date-day">27</span></time>
          </div>
          <div class="usa-collection__body">
            <h4 class="usa-collection__heading">
              <a
                class="usa-link"
                href="https://www.outforundergrad.org/digital"
                >O4U Digital
              </a>
            </h4>
            <p class="usa-collection__description">
             Our team will be at the O4U Digital career fair! Be sure to stop by to meet our team and learn more about how you can kickstart your career in civic tech.
            </p>
          </div>
        </li>
      </ul>
      </div>
      <!-- YOUTUBE VIDEO SECTION -->
      <div style="text-align: right; align-items: center; place-self: center;" class="apply-events">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/uZNHUy6zGso?si=H47TcRGNrcFIXgDQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
  </div>
  </div>
</section>
<section class="usa-section">
  {% include last-modified.html %}
</section>
 

