---
layout: default
title: Apply
permalink: /apply/
description: "Want to use your tech skills for good? Join the United States Digital Corps!"
social: apply
---

<!-- BANNER -->
<section class="apply-banner">
  <div class="usa-hero">
    <div class="grid-container">
      <div class="usa-hero__callout">
        <div class="content">
          <h1 class="usa-hero__heading">Apply</h1>
          {% if site.apply_now %}
          <p><strong>Applications are now open!</strong> Links to apply for each track are included below.</p>
          <p>Applications for all five tracks will close at 11:59pm ET on Monday, January 13th or at 11:59pm ET on the day each track reaches the applicant limit. Interested candidates are strongly encouraged to apply early as the applicant limit may cause applications to close before the deadline. Late applications will not be accepted.</p>
          <p class="margin-bottom-0">Before applying, we encourage you to visit our <a class="usa-link" href="../process/">application process</a> page for eligibility criteria and review this <a class="usa-link" href="https://digitalcorps.gsa.gov/blogs/resume-best-practices/" target="_blank">blog post</a> on resume tips and best practices. Our <a class="usa-link" href="../faq/">FAQs</a> are also a great resource.</p>
        
          {% else %}
          <p>
            <strong>Applications for the 2025 U.S. Digital Corps cohort will open January 7, 2025.</strong><br/>
          </p> 
          <p class="margin-bottom-0">
            Subscribe to our newsletter to receive an email reminder when applications open, as well as for upcoming news, updates, and events. 
          </p>
          <br/>
          <div class="text-left">
            <a class="usa-button usa-button--primary"
              href="https://public.govdelivery.com/accounts/USGSATTS/subscriber/new?topic_id=USGSATTS_108">
              Subscribe
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% if site.apply_now %}
<!-- USA JOBS PROCESS -->
<section class="usa-section usajobs-process bg-base-lightest">
  <div class="highlight">
    <h2>Apply on USAJOBS</h2>
  </div>

  <div class="usa-step-indicator usa-step-indicator--counters">
    <ol class="usa-step-indicator__segments">
      <li class="usa-step-indicator__segment step1">
        <div class="usa-step-indicator__segment-label">
          <div class="label">
            Step One
          </div>
          <div class="sublabel">
            You will need to <a class="usa-link usa-link--icon" target="_blank" rel="noopener"
              href="https://www.usajobs.gov/?c=create-profile">create an account</a> if you do not already have one. Please use a personal email address. Do not use a university or school account.
          </div>
        </div>
      </li>
      <li class="usa-step-indicator__segment step2">
        <div class="usa-step-indicator__segment-label">
          <div class="label">
            Step Two
          </div>
          <div class="sublabel">
            Apply before 11:59pm ET on January 13. Note, applications may closer sooner than January 13 due to application capacity limitations, so we encourage you to apply early!
          </div>
        </div>
      </li>
      <li class="usa-step-indicator__segment step3">
        <div class="usa-step-indicator__segment-label">
          <div class="label">
            Step Three
          </div>
          <div class="sublabel">
            Check your application status on your USAJOBS profile.
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>

<!-- TRACK SELECTIONS -->
<section class="usa-section apply-tracks" id="tracks">

  <div class="highlight padding-x-2">
    <h3>Click the link below for your selected track</h3>
  </div>
  
  {% include tracks/track-bubbles.html %}
  


  <!-- EEO -->
  <div class="highlight">
    <div class="margin-top-4 text-center">
      <p>
        <a class="usa-link usa-link--external text-bold" target="_blank" rel="noopener"
          href="https://www.gsa.gov/reference/civil-rights-programs/equal-employment-opportunity">
          Equal Opportunity Employer</a>
      </p>
      <p class="margin-bottom-0">
        The U.S. Digital Corps is an Equal Opportunity Employer.
        We’re building cohorts of Fellows that represent our country.
        We don’t discriminate on the basis of race, color, religion, sex, gender identity or expression,
        national origin, political affiliation, sexual orientation, marital status, disability,
        genetic information, age, membership in an employee organization, retaliation, parental status,
        military service, or other non-merit factors.
      </p>
    </div>
  </div>
</section>
{% endif %}

<!-- SIGN-UP -->
<section class="usa-section bg-base-lighter">
  <div class="grid-container highlight">
    <div class="grid-row">

      <!-- EVENTS SECTION -->
    <div style="text-align: left; align-items: center;" class="apply-events">

      <h3 class="site-preview-heading">UPCOMING EVENTS</h3>
      <p>Please email <a href="mailto:{{site.email}}">{{site.email}}</a> if you'd like to invite USDC to speak or present at your event.</p>
      {% assign events = site.data.events | sort:"timestamp" %}
      <ul class="usa-collection">
        {% for event in events %}
        <li class="usa-collection__item">
          <div class="usa-collection__calendar-date">
            <time datetime="{{event.timestamp}}"
              ><span class="usa-collection__calendar-date-month">{{event.month}}</span>
              <span class="usa-collection__calendar-date-day">{{event.day}}</span></time
            >
          </div>
          <div class="usa-collection__body">
            <h4 class="usa-collection__heading">
              <a
                class="usa-link"
                href="{{event.eventLink}}"
                data-proofer-ignore
                >{{event.name}}</a
              >
            </h4>
            <p class="usa-collection__description">
              {{event.eventDescription}}
            </p>
          </div>
        </li>
        {% endfor %}
      </ul>
      </div>
      <!-- YOUTUBE VIDEO SECTION -->
      <div style="text-align: right; align-items: center; place-self: center;" class="apply-events">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/uZNHUy6zGso?si=H47TcRGNrcFIXgDQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
  </div>
  </div>
</section>
<section class="usa-section">
  <div class="grid-container">
    {% include last-modified.html %}
    {% include_cached touchpoint-survey-script.html %}
  </div>
</section>
 

