---
permalink: /
layout: wide
title: Home
redirect_from:
  - /contact/
---

<!-- BANNER -->
<section class="home-banner">
  <div class="usa-hero">
    <div class="usa-hero__callout">
      <div class="grid-container">
        <div class="grid-row padding-bottom-0">
          <div class="grid-col">
            <h1 class="usa-hero__heading">Build a brighter future</h1>
          </div>
        </div>
        <div class="grid-row display-flex flex-row flex-align-end height-full">
          <div class="grid-col-12 tablet:grid-col-9">
            <h2>Use your technology skills to help create a more effective, equitable government.</h2>
          </div>
          <div class="grid-col-12 tablet:grid-col-3">
            <a class="usa-button usa-button--primaryvivid" href="{{site.baseurl}}/opportunity/">
              <span>Learn&nbsp;more</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- {% if site.apply_now %}
APPLY NOW
<section class="usa-section apply-now">
  <div class="grid-container highlight">
    <div class="padding-y-5 grid-col-10 grid-offset-1 tablet:grid-col-12,grid-offset-0">
      <h2 class="text-primary-light margin-bottom-0">Applications are now open!</h2>
      <p class="lead text-white margin-y-0 padding-y-1">
        Read more about the application process and apply today.
      </p>
      <div class="text-center margin-top-2">
        <a class="usa-button usa-button--baselighter" href="{{site.baseurl}}/process/">
          <span>Learn&nbsp;more</span>
        </a>
      </div>
    </div>
  </div>
</section>
{% endif %} -->

<!-- BENEFITS -->
<section class="usa-section">

  <div class="grid-container highlight">
    <h2>
      Make a Difference at Scale
    </h2>
    <p class="lead margin-bottom-0">
      Begin your technology career inside the federal government and be part of something bigger. The U.S. Digital Corps is a two&#8209;year fellowship for early&#8209;career technologists where you will work every day to make a difference in critical impact areas including pandemic response, economic recovery, cybersecurity, and racial equity. More than just a job with a competitive salary and benefits, you will change the way people in America are served by their government.
    </p>
  </div>
  
  <div class="benefits">
    <div class="benefit">
      {% asset
      "Home_High_impact.png"
      alt="fellows visiting the white house" %}
      <h3 class="twoline"> High-impact <br class="display-none tablet:display-inline" /> work </h3>
      <p>Work with federal employees to improve how government serves all Americans in a digital age.</p>
    </div>
    <div class="benefit">
      {% asset
      "learning_dev.png"
      alt="fellows huddled up by table" %}
      <h3 class="twoline">Learning and <br class="display-none tablet:display-inline" /> development</h3>
      <p>Grow as a technologist through dedicated programming; learn how to leverage unique government resources and opportunities.</p>
    </div>
    <div class="benefit">
      {% asset
      "mentorship.png"
      alt="fellows having a friendly conversation" %}
      <h3 class="twoline">Mentorship and <br class="display-none tablet:display-inline" /> community</h3>
      <p>Join a diverse community of mission-driven technologists dedicated to the public interest.</p>
    </div>
  </div>
</section>

<!-- HIGHLIGHTS -->
<section class="usa-section padding-top-0">

  <div class="grid-container">
    <div class="grid-row grid-gap">

      <!-- tech talent -->
      <div class="tablet:grid-col">
        <div class="home-apply">
          <div class="box-content text-white">
            <!-- <h2 class="padding-top-2">APPLY NOW</h2> -->
            <p>The U.S. government is in the midst of a digital transformation. We need skilled junior technologists with experiences and identities that reflect the diversity of America to join the public servants already at work modernizing and simplifying government services—reaching and improving the lives of all Americans.</p>
            {% if site.apply_now %}
            <p><strong>Applications for the U.S. Digital Corps are now open.</strong> <a class="usa-link" href="{{site.baseurl}}/apply/">Apply today</a>.</p>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="tablet:grid-col">

        <!-- impact -->
        <div class="grid-row">
          <div class="grid-col box-pane-button home-opportunity">
            <a class="usa-button" href="{{site.baseurl}}/opportunity/">
              <div class="box-pane">
                <h2>The Opportunity</h2>
                <p class="usa-link--alt usa-link--external">
                  Work on meaningful innovation
                </p>
              </div>
            </a>
          </div>
        </div>

        <!-- mission and values -->
        <div class="grid-row">
          <div class="grid-col box-pane-button home-about">
            <a class="usa-button" href="{{site.baseurl}}/about/">
              <div class="box-pane">
                <h2>Who we are</h2>
                <p class="usa-link--alt usa-link--external">
                  Learn about our mission and values
                </p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Press Articles -->
{% include press.html %}

<!-- SIGN-UP -->
{% include_cached sign-up.html customstyles="bg-base-lighter padding-y-8" %}
