---
layout: default
title: The Opportunity
permalink: /opportunity/
---

<!-- BANNER -->
<section class="opportunity-banner">
  <div class="usa-hero">
    <div class="grid-container">
      <div class="usa-hero__callout">
        <div class="content">
          <h1 class="usa-hero__heading">
            The Opportunity
          </h1>
          <h2>
            Begin your career at the intersection of technology and public service.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- INTRO -->
<section class="usa-section padding-bottom-0">

  <div class="grid-container highlight">
    <h3
      class="accent-underline grid-col-10 grid-offset-1 tablet:grid-col-12,grid-offset-0 margin-top-2 margin-bottom-6">
      The U.S. Digital Corps is a two&#8209;year fellowship to launch your career at the intersection of technology and public service.
    </h3>
    <p class="text-left">
      The fellowship is a paid, full&#8209;time position that offers a competitive salary and benefits. Fellows have the opportunity to convert to a full&#8209;time career position upon successful completion of the program. The Digital Corps supports in&#8209;person, hybrid, and distributed Fellows, subject to the telework policies of host agencies.
    </p>
    <p class="text-left">
      Digital Corps Fellows begin the two-year program at the GS&#8209;9 pay level and receive a recruitment incentive. Salary is based on each Fellow's work location according to <a class="usa-link usa-link--external" target="_blank" rel="noopener" href="https://www.opm.gov/policy-data-oversight/pay-leave/salaries-wages/2022/general-schedule/">OPM’s locality pay tables</a>. Fellows receive a total recruitment incentive equivalent to 50% of the GS-9 starting salary, with the payout weighted toward the first year. As an example, with the recruitment incentive, Washington, D.C.-based Fellows will have a starting total salary just above $80,000.
    </p>
    <p class="text-left">
      Founded with <a class="usa-link" href="{{site.baseurl}}/fellows/">an inaugural cohort of 38 Fellows</a> in June 2022, the Digital Corps will scale significantly in subsequent years.
    </p>
  </div>
</section>

<!-- SEEKING -->
<section class="usa-section opportunity-tracks padding-y-6 margin-top-6">

  <div class="grid-container highlight">
    <h2 class="text-ink">
      Who we’re looking for
    </h2>
    <p class="text-left">
      The U.S. Digital Corps is an early&#8209;career technology opportunity for recent graduates, career changers, Veterans, and more. We bring on Fellows in five broad skill tracks: <strong>software engineering, data science and analytics, product management, design, and cybersecurity</strong>.
    </p>
    <p class="text-left">
      We’re looking for candidates who aren’t afraid to roll up their sleeves and contribute in any way, technical or otherwise, to create a government that better serves all Americans. This includes collaborating with diverse sets of stakeholders, communicating technical subjects to general audiences, and working iteratively and centering the end user. Candidates must meet all <a class="usa-link" href="{{site.baseurl}}/process/#eligibility">eligibility requirements</a>.
    </p>
    <p class="text-left" id="tracks">
      Learn more about each of the five tracks:
    </p>
  </div>

  <!-- TRACKS -->
  <div class="grid-container highlight">
    <div class="usa-accordion" aria-multiselectable="true">

      <h3 class="usa-accordion__heading">
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="a1">
          Software Engineering
        </button>
      </h3>
      <div id="a1" class="usa-accordion__content usa-prose">
        <p>Work in this track may include:</p>
        <ul class="usa-list">
          <li>Front-end, back-end, and full-stack engineering</li>
          <li>Designing, developing, testing, and evaluating systems throughout the software development lifecycle</li>
          <li>DevOps, cloud computing, infrastructure, and software architecture</li>
          <li>Web and mobile development</li>
          <li>Agile and lean software methodologies</li>
          {% if site.apply_now %}
          <li><a class="usa-link" href="{{site.baseurl}}/apply/engineering/">Read the full job announcement</a> →</li>
          {% endif %}
        </ul>
      </div>

      <h3 class="usa-accordion__heading">
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="a2">
          Data Science and Analytics
        </button>
      </h3>
      <div id="a2" class="usa-accordion__content usa-prose">
        <p>Work in this track may include:</p>
        <ul class="usa-list">
          <li>Using quantitative and qualitative methods to collect, validate, analyze, and visualize data</li>
          <li>Analyzing large datasets using scripting languages and/or modern statistical and computational languages (e.g. Python, R, SQL)</li>
          <li>Building models and other solutions that utilize techniques including supervised learning, unsupervised learning, natural language processing, and/or deep learning</li>
          <li>Conducting research and statistical analyses to support decision making</li>
          <li>Using business intelligence tools</li>
          {% if site.apply_now %}
          <li><a class="usa-link" href="{{site.baseurl}}/apply/data-science/">Read the full job announcement</a> →</li>
          {% endif %}
        </ul>
      </div>

      <h3 class="usa-accordion__heading">
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="a3">
          Product Management
        </button>
      </h3>
      <div id="a3" class="usa-accordion__content usa-prose">
        <p>Work in this track may include:</p>
        <ul class="usa-list">
          <li>Contributing to the end-to-end development of a digital product or service, from concept to delivery</li>
          <li>Coordinating cross-functional stakeholders</li>
          <li>Using agile and lean approaches to product management</li>
          <li>Conducting qualitative and quantitative research to understand user needs and product performance</li>
          <li>Collaborating on product vision, roadmapping, and metric development</li>
          {% if site.apply_now %}
          <li><a class="usa-link" href="{{site.baseurl}}/apply/product-management/">Read the full job announcement</a> →</li>
          {% endif %}
        </ul>
      </div>

      <h3 class="usa-accordion__heading">
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="a4">
          Design
        </button>
      </h3>
      <div id="a4" class="usa-accordion__content usa-prose">
        <p>Work in this track may include:</p>
        <ul class="usa-list">

          <li>UX/UI design</li>
          <li>Human-centered design, service design, product design, and customer experience design</li>
          <li>Developing user research plans, interview protocols, or question guides</li>
          <li>Conducting user interviews, usability testing, and other qualitative and quantitative research</li>
          <li>Using agile, lean, and other iterative product development approaches</li>
          {% if site.apply_now %}
          <li><a class="usa-link" href="{{site.baseurl}}/apply/design/">Read the full job announcement</a> →</li>
          {% endif %}
        </ul>
      </div>

      <h3 class="usa-accordion__heading">
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="a5">
          Cybersecurity
        </button>
      </h3>
      <div id="a5" class="usa-accordion__content usa-prose">
        <p>Work in this track may include:</p>
        <ul class="usa-list">
          <li>Testing and validating security</li>
          <li>Performing security system implementation, integration, and updates</li>
          <li>Cloud security, virtualization security, web application security, and network architecture</li>
          <li>Security authorizations (Authority to Operate (ATO)) and compliance management</li>
          {% if site.apply_now %}
          <li><a class="usa-link" href="{{site.baseurl}}/apply/cybersecurity/">Read the full job announcement</a> →</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</section>


<!-- OPPORTUNITY (boxes) -->
<section class="usa-section padding-top-0">
  <div class="grid-container no-gutter">

    <div class="grid-row">
      <div class="for-mobile box opportunity-deliver-image"></div>
      <div class="box box--primary-vivid">
        <div class="box-content">
          <h2>Deliver high-impact work</h2>
          <p>Fellows are matched with federal agencies based on their skill sets and interests and will work on
            pressing priorities to better serve the public. Priorities include:</p>
          <ul>
            <li>Economic recovery</li>
            <li>Equity</li>
            <li>Customer experience</li>
            <li>Public health</li>
            <li>Immigration</li>
          </ul>
        </div>
      </div>
      <div class="for-desktop box opportunity-deliver-image"></div>
    </div>

    <div class="grid-row">
      <div class="box opportunity-grow-image"></div>
      <div class="box box--base-lighter">
        <div class="box-content">
          <h2>Grow personally and professionally</h2>
          <p>
            The Digital Corps invests in Fellows’ career growth with a dedicated learning and development curriculum and individual performance plans, helping you mature as a technologist and sharpen the problem solving skills that will make you more effective in creating impact in government and other large organizations. Accordingly, Fellows who meet all performance and program requirements will be eligible to be promoted to GS&#8209;11 in the second year of the program and to GS&#8209;12 at the conclusion of the fellowship.
          </p>
        </div>
      </div>
    </div>

    <div class="grid-row">
      <div class="for-mobile box opportunity-support-image"></div>
      <div class="box box--primary-vivid">
        <div class="box-content">
          <h2>Join a supportive, diverse community</h2>
          <p>
            Digital Corps Fellows join a welcoming community of supportive mentors and passionate peers that includes fellow government technologists, and organizations like Presidential Innovation Fellows, U.S. Digital Service, and 18F. Government technology and civic tech is a team sport, and we expect Digital Corps Fellows to be empathetic, collaborative, and mission-oriented.
          </p>
        </div>
      </div>
      <div class="for-desktop box opportunity-support-image"></div>
    </div>

  </div>
</section>


<!-- SIGN-UP -->
{% include_cached sign-up.html customstyles="padding-top-0" %}


<!-- PARTNERS -->
<!-- <div class="usa-section bg-base text-center text-white text-normal font-sans-lg padding-y-1">
  PARTNER ORGANIZATIONS
</div>
<section class="usa-section bg-base-lighter padding-top-3 padding-bottom-4">
  <div class="grid-container">
    <div class="grid-row">
      <div class="partner">
        <a href="https://gsa.gov">
          {%
          asset "logo/GSA.svg" alt="General Services Administration"
          href="https://gsa.gov"
          %}
        </a>
      </div>
      <div class="partner">
        <a href="https://pif.gov">
          {%
          asset "logo/PIF.png" alt="Presidential Innovation Fellows"
          %}
        </a>
      </div>
      <div class="partner">
        <a href="https://usds.gov">
          {%
          asset "logo/USDS.png" alt="U.S. Digital Service"
          %}
        </a>
      </div>
      <div class="partner">
        <a href="https://18f.gsa.gov">
          {%
          asset "logo/18F.png" alt="18F"
          %}
        </a>
      </div>
    </div>
  </div>
</section> -->
