---
layout: default
title: Application Process
permalink: /process/
description: "Learn about our application process"
social: apply
---


<!-- BANNER -->
<section class="process-banner">
    <div class="usa-hero">
        <div class="grid-container">
            <div class="usa-hero__callout">
                <div class="content">
                    <h1 class="usa-hero__heading">Application Process</h1>
                    <p>
                        Thank you for your interest in becoming a U.S. Digital Corps Fellow! 
                        Applying to federal government jobs can be quite different than in other industries. 
                        As a guide for candidates, we've outlined each step of our process on this page.
                    </p>
                    {% if site.apply_now %}
                    <p><strong>
                        Applications for all <a class="usa-links" href="{{site.baseurl}}/opportunity/#tracks">five tracks</a> 
                        are now open through November 30, 2022 at 11:59pm ET.
                    </strong></p>
                    <p>
                        Late applications <strong>will not</strong> be accepted.
                    </p>
                    
                    {% else %}
                    <!-- <p><strong>Applications are currently closed.</strong><br/> -->
                        <p>
                            <strong>
                            Applications for all <a class="usa-links" href="{{site.baseurl}}/opportunity/#tracks">five tracks</a> 
                            will open on November 21, 2022 and close on November 30, 2022 at 11:59pm ET. 
                            </strong> Late applications will not be accepted.
                        </p>
                        <p>We strongly encourage you to <a href="{{site.baseurl}}/apply">attend an upcoming info session</a> with our team and current Fellows to learn more about the Digital Corps and our application process before you apply.</p>
                    <!-- <strong> Applications for our next cohort will open in Fall 2022</strong>. Join our <a class="usa-links" href="https://public.govdelivery.com/accounts/USGSATTS/subscriber/new?topic_id=USGSATTS_108">mailing list</a> for updates.
                    </p> -->
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PROCESS -->
<section class="usa-section apply-process padding-bottom-0">
    <div class="grid-container">
        <div class="grid-row grid-gap-sm">

            <!-- side nav -->
            <nav class="sidenav padding-bottom-4 display-none desktop:grid-col-2 desktop:display-inline">
                <ul class="usa-sidenav usa-sticky-sidenav">
                    <li class="usa-sidenav__item">
                        <a href="#eligibility">
                            Understand your eligibility
                        </a>
                    </li>
                    <li class="usa-sidenav__item">
                        <a href="#preparing">
                            Prepare to apply
                        </a>
                    </li>
                    <li class="usa-sidenav__item">
                        <a href="#application">
                            Craft a competitive application
                        </a>
                    </li>
                    <li class="usa-sidenav__item">
                        <a href="#timeline">
                            Participate in the selection process and timeline
                        </a>
                    </li>
                    <li class="usa-sidenav__item bullet-question">
                        <a href="{{site.baseurl}}/faq/">
                            Frequently Asked Questions
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- content -->
            <div class="desktop:grid-col-fill">

                <h2 class="font-sans-lg margin-top-1 margin-bottom-4">
                    Before submitting your application for the Digital Corps, we encourage you to:
                </h2>

                <ol class="usa-process-list padding-top-0">
                    <li class="usa-process-list__item" id="eligibility">
                        <h3 class="usa-process-list__heading">Understand your eligibility</h3>
                        <ul class="usa-list">  
                            <li>You must be a United States citizen or national (resident of American Samoa or Swains Island).</li>
                            <li>You must be available to start full-time with the cohort in late June or early July 2023. An exact start date will be communicated to candidates during the selection process.</li>
                            <li>You understand that you will be required to pass a government background check.</li>
                            <li>
                                You meet the eligibility requirements for the Pathways Recent Graduates program <strong>(currently enrolled students must graduate by June 30, 2023 to be eligible)</strong>:
                                <ul>
                                    <li>You are a recent graduate who has received an associates, bachelors, masters, professional, doctorate, vocational or technical degree or certificate from a <a target="_blank" href="https://ope.ed.gov/dapip/#/home">qualifying educational institution</a> within the past two years (as early as November 21, 2020), <strong>OR</strong></li>
                                    <li>You are a preference-eligible Veteran who was precluded from applying within two years of meeting the above educational requirements due to a military service obligation. You have been discharged/released from active duty within the last two years, and it has not been more than six years from the date you originally met the educational requirements.</li>
                                </ul>
                            </li>
                            <li>You have <strong>at least one</strong> of the below:
                                <ul>
                                    <li>One cumulative year of experience related to the track you are applying to. This can include paid or unpaid internships, volunteer experiences, student organizations, and jobs, <strong>OR</strong></li>
                                    <li>An advanced degree (e.g. Master’s, PhD) in a {% include_cached modal-technology-field.html words="technology field" %}</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="usa-process-list__item" id="preparing">
                        <h3 class="usa-process-list__heading">Prepare to apply</h3>
                        <p>Prior to submitting an application for the U.S. Digital Corps, you should:</p>
                        <ul class="usa-list">
                            <li><strong>Review details about the <a class="usa-link" href="../opportunity/">program opportunity</a>, including the Fellow experience.</strong></li>
                            <li><strong>Review our <a class="usa-link" href="#eligibility">eligibility criteria</a>.</strong></li>
                            <li><strong>Select your track.</strong>
                                We are recruiting Digital Corps Fellows in <a class="usa-link" href="../opportunity/#tracks">five skill tracks</a>: software engineering, data science and analytics, product management, design, and cybersecurity.
                                <p>Apply for the track in which you have the most experience. It’s okay if you have experience or interest in more than one area, but we recommend that you select the track that most closely matches your skill set. Doing so will help our team thoughtfully pair candidates with agencies and projects. Your track selection will not limit the projects you are considered for and Digital Corps Fellows will have ample opportunity to learn and grow in areas beyond their selected track.</p>
                            </li>
                            <li><strong>Prepare your resume and transcript.</strong>
                            <ul class="usa-list">
                            <li><strong>Resume</strong>. Create a resume (federal resumes not required!) that reflects your education and experience.
                            <p>
                                Subject matter experts will review up to three pages of your resume: the first page regarding your education—including relevant coursework, projects, and presentations—and the first two pages detailing your paid and unpaid work experiences, volunteering, student organizations, and other relevant experiences. <a class="usa-link" href="#application">Read below</a> for additional resume suggestions; more information regarding resume best practices is available on <a class="usa-link usa-link--external" target="_blank" rel="noopener" href="https://join.tts.gsa.gov/resume/">Join TTS</a>. You may upload your own resume or use the <a  class="usa-link usa-link--external" target="_blank" rel="noopener" href="https://www.usajobs.gov/help/how-to/account/documents/resume/build/">USAJOBS Resume Builder</a>.
                            </p>
                            </li>
                            <li><strong>Transcript or certificate of completion</strong> (official or unofficial). If you are currently enrolled, you can submit proof of enrollment.</li>
                            </ul>
                            </li>
                            <li>If you require accommodations at any point of the application or hiring process, <a class="usa-link usa-link--external" href="mailto:{{site.email_hr}}">please contact GSA HR</a>.</li>
                        </ul>
                    </li>
                    <li class="usa-process-list__item" id="application">
                        <h3 class="usa-process-list__heading">Craft a competitive application</h3>
                        <p>Here are some suggestions for crafting a competitive Digital Corps application:</p>
                        <ul class="usa-list">
                            <li>Thoroughly review our website and <a class="usa-link" href="../faq/">FAQs.</a></li>
                            <li>Be as descriptive and detailed as possible when creating your resume. Some tips:
                                <ul class="usa-list">
                                    <li>Use the entirety of the three pages (one for education and two for experience) that will be reviewed by subject matter experts.</li>
                                    <li>If you include skills, tools, and technologies you have used, be sure to describe the context of how and why those skills were used in each experience—do not just list these in a separate section.</li>
                                    <li>Don’t just include paid positions or expressly technical positions. We are interested in your ability to work with different groups, stakeholders, and contexts.</li>
                                    <li>For part-time positions, be sure to include the number of hours you worked each week (e.g. 10 hours/week).</li>
                                    <li>Refer to the resume resources on <a class="usa-link usa-link--external" target="_blank" rel="noopener" href="https://join.tts.gsa.gov/resume/">Join TTS</a> when creating your resume.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
            
                    <li class="usa-process-list__item" id="timeline">
                        <h3 class="usa-process-list__heading">Participate in the selection process and timeline </h3>
                        <!-- <p class="usa-process-subtext"><strong><em>Timeline applies to the 2021 application cycle. </em></strong></p> -->
                        <p>We’ve included an overview and <strong>tentative timeline</strong> of our selection process to help in your planning.</p>
                        <p>During the application process, all applicants will have the opportunity to consent to sharing their name, application materials, and assessment results with other agencies to be considered for open positions beyond the U.S. Digital Corps. Your choice will not affect your application.</p>
                        <p>If you require accommodations at any point of the application or hiring process, <a class="usa-link usa-link--external" href="mailto:{{site.email_hr}}">please contact GSA HR</a>.</p>

                        <div class="usa-accordion" aria-multiselectable="true">

                            <h2 class="usa-accordion__heading">
                                <button class="usa-accordion__button" aria-expanded="false" aria-controls="a1">
                                    November 21-30, 2022: Apply to the U.S. Digital Corps
                                </button>
                            </h2>
                            <div id="a1" class="usa-accordion__content usa-prose">
                                <p><strong>Applications will close at 11:59pm ET on November 30, 2022.</strong> 
                                    Late applications will not be accepted and all applications submitted before the application closed will be considered equally. 
                                    If there are substantially more applicants than Digital Corps openings, applications that are not in the top category may be held at each stage of the process detailed below.
                                </p>
                            </div>

                            <h2 class="usa-accordion__heading">
                                <button class="usa-accordion__button" aria-expanded="false" aria-controls="a2">
                                    December 2022: Project-based assessment and resume review
                                </button>
                            </h2>
                            <div id="a2" class="usa-accordion__content usa-prose">
                                <p>Shortly after the deadline, all eligible applicants will receive a short project-based assessment to complete. The assessment is track-specific and will take no longer than two hours to complete. You will have one week to submit the assessment.</p>
                                <p>In parallel, up to three pages of your resume (two pages of experience and one page of education) will be reviewed. Both applicant resumes and project-based assessments will be reviewed by subject matter experts in the track that you apply in.</p>
                            </div>

                            <h2 class="usa-accordion__heading">
                                <button class="usa-accordion__button" aria-expanded="false" aria-controls="a3">
                                    January — February 2023: Interview with a subject matter expert in your track
                                </button>
                            </h2>
                            <div id="a3" class="usa-accordion__content usa-prose">
                                <p>If your project-based assessment meets the required competencies for your track, you will be invited to a phone interview. You should expect your interview to cover both technical and non-technical (behavioral) questions. </p>
                                <p>All interviews will be conducted virtually. Live captioning and other accessibility assistance is available for all candidates. If you require accommodations at any point of the application or hiring process, <a class="usa-link usa-link--external" href="mailto:{{site.email_hr}}">please contact GSA HR</a>.</p>
                                <p>Veterans' preference will be applied to applicants who move forward after the phone interview stage.</p>
                            </div>

                            <h2 class="usa-accordion__heading">
                                <button class="usa-accordion__button" aria-expanded="false" aria-controls="a4">
                                    February 2023: Interview with host agencies
                                </button>
                            </h2>
                            <div id="a4" class="usa-accordion__content usa-prose">
                                <p>Qualified candidates will have an opportunity to interview with U.S. Digital Corps host agencies and project teams based on mutual interest and alignment of skill sets. Candidates at this stage will receive additional information about specific agency projects.</p>
                            </div>

                            <h2 class="usa-accordion__heading">
                                <button class="usa-accordion__button" aria-expanded="false" aria-controls="a5">
                                    March 2023: Final selections and tentative offers
                                </button>
                            </h2>
                            <div id="a5" class="usa-accordion__content usa-prose">
                                <p>Upon consultation with host agencies, we will finalize agency placements and offers. As the Digital Corps operates within the U.S. General Services Administration (GSA), the GSA HR team will make tentative offers to selected candidates. Tentative offers are contingent on passing a background check.</p>
                                <p>As your offer details will depend on your work location, we will work with you and your agency to determine your preferred work location subject to the position requirements and telework policies of your agency.</p>
                                <p>Our team will also set up calls for incoming Digital Corps Fellows to welcome you to the program and our community, and answer any questions.</p>
                            </div>

                            <h2 class="usa-accordion__heading">
                                <button class="usa-accordion__button" aria-expanded="false" aria-controls="a6">
                                    March — June 2023: Pre-employment process
                                </button>
                            </h2>
                            <div id="a6" class="usa-accordion__content usa-prose">
                                <p>Once you accept your tentative offer, you will receive an email from the HR onboarding system. You will need to login and accept your tentative offer. You will be asked to complete a series of forms and receive a USAaccess email requesting you to schedule a time to provide your fingerprints for your security clearance and complete an e&#8209;QIP security questionnaire.</p>
                                <p>Once your e&#8209;QIP has been initially cleared, a GSA HR specialist will call you with a final offer. At this stage, GSA HR and the Digital Corps team will confirm your start date.</p>
                                <p><strong>Note</strong>: We do not recommend you give notice or resign from your current employer (if applicable) until you receive your final offer with a confirmed start date from HR.</p>
                            </div>

                            <h2 class="usa-accordion__heading">
                                <button class="usa-accordion__button" aria-expanded="false" aria-controls="a7">
                                    June — July 2023: Onboarding, orientation, and Fellow welcome!
                                </button>
                            </h2>
                            <div id="a7" class="usa-accordion__content usa-prose">
                                <p>The exact start date for 2023 Fellows will be announced during the selection process.</p>
                            </div>

                        </div>

                    </li>
                </ol>
            </div>
        </div>
    </div>

    <p class="text-center font-sans-md desktop:display-none">
        See our <a class="usa-link" href="{{site.baseurl}}/faq/">Frequently Asked Questions</a><br/>for more information.
    </p>

</section>

<!-- SIGN-UP -->
<section class="usa-section bg-base-lighter">
    <div class="grid-container highlight">
        <div class="grid-col-10 grid-offset-1 tablet:grid-col-12,grid-offset-0">
            <p class="lead text-primary padding-y-0">
                Thank you for making it this far! We look forward to receiving and reviewing your application.
                <br class="display-none desktop:display-inline" />
                 Join our mailing list to stay in touch with the U.S. Digital Corps.
            </p>
            <div class="text-center">
              <a class="usa-button usa-button--primary"
                href="https://public.govdelivery.com/accounts/USGSATTS/subscriber/new?topic_id=USGSATTS_108">
                Subscribe
              </a>
                <!-- <a class="usa-button usa-button--primary" href="{{site.baseurl}}/apply/">
                    Apply
                    <span class="display-none tablet:display-inline">
                        to the U.S. Digital Corps
                    </span>
                </a> -->
            </div>
        </div>
    </div>
</section>
