.benefits {
    @include grid-gap(6);
    // @include u-padding-top(6);

    // mobile
    @include at-media-max("tablet") {
        @include u-padding-top(2);
    }

    // individual responsive units
    .benefit {
        @include grid-col(4);
        @include u-padding-top(6);

        @include at-media-max("desktop"){
            @include grid-col(6);
        }

        img {
            @include u-circle("card-lg");
            object-fit: cover;
        }
        text-align: center;

        p {
            @include u-font("sans", "lg");

            &:before {
                @include u-bg("primary-vivid");
                content: "";
                left: 30%;
                width: 40%;
                height: 3px;
                position: relative;
                display: block;
                bottom: 14px;
            }
        }

        h3 {
            @include u-font("sans", "xl");
            @include u-text("semibold");
            @include u-text("primary");
          
            height: 1.2em;

            // mobile
            @include at-media-max("tablet") {
                height: unset;
            }

            // two lines
            &.twoline {
                height: 2.2em;

                // mobile
                @include at-media-max("tablet") {
                    height: unset;
                }
            }
        }

        // mobile
        @include at-media-max("tablet") {
            @include grid-col(12);
        }
    }
}
