// mixins
@mixin box-height($desktop: 600px, $mobile: 300px) {
    height: $desktop;
    @include at-media-max("tablet") {
        height: unset;
        min-height: $mobile;
    }
}

// full box styles
.box {
    @include box-height(480px, 400px);
    @include grid-col(6);
    @include grid-gap(0);
    @include u-padding(7);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;

    // < desktop
    @include at-media-max("desktop") {
        @include u-padding(4);
    }
    // < tablet
    @include at-media-max("tablet") {
        @include grid-col(12);
        @include u-padding(2);
    }

    // common box styles
    &--blue,
    &--baselighter {
        @include at-media-max("tablet") {
            min-height: auto;
        }
    }

    // custom colors
    &--blue {
        background-color: color("primary-vivid");
        .box-content {
            @include u-text("white");
        }
    }

    &--baselighter {
        background-color: color("base-lighter");
        .box-content {
            @include u-text("primary-dark");
        }
    }
}

.box-content {
    position: relative;

    h1 {
        @include u-padding-top(5);
        @include u-font("sans", "2xl");
        @include u-text("medium");
        color: inherit;

        @include at-media-max("tablet") {
            @include u-padding-top(0);
        }
    }

    p {
        @include u-font("sans", "lg");
    }
}

// mini styles
@mixin box-mini($image-url) {
    @include box-height(224px, 200px);
    @include column-overlay("right", 40%, "primary", $image-url, "none");
    background-position: left;
    @include u-padding(0);

    // mobile
    @include at-media-max("desktop") {
        @include column-overlay("right", 50%, "primary", $image-url, "none");
    }

    // mobile
    @include at-media-max("tablet") {
        @include column-overlay("right", 60%, "primary", $image-url, "none");
    }
}

.box-mini-content {
    @include u-padding-x(2);
    @include u-margin-y(4);
    position: absolute;
    right: 0;
    width: 40%;

    h1,
    h2 {
        color: color("white");
        @include u-font("sans", "lg");
        @include u-text("medium");
        text-transform: uppercase;
        margin: 0;
    }

    h2 {
        @include u-font("sans", "md");
    }

    .usa-link {
        @include u-font("sans", "md");
        $dark-link-color: "base-light";
        text-transform: uppercase;
        text-decoration: none;
        color: color("white");

        &:active,
        &:visited {
            text-decoration: none;
            color: color("white");
        }
        &:hover {
            text-decoration: underline;
            color: color("base-lighter");
        }

        // &::before {
        //     content: "> ";
        // }
    }

    // desktop
    @include at-media-max("desktop") {
        @include grid-col(9);
        @include grid-offset(3);
        @include u-padding-x(2);
        @include u-margin-y(1);
        width: 50%;
    }

    // mobile
    @include at-media-max("tablet") {
        @include grid-col(9);
        @include grid-offset(3);
        @include u-padding-x(2);
        @include u-margin-y(1);
        width: 60%;
    }
}
