// full box styles

.box {
    @include grid-col(6);
    @include grid-gap(0);
    @include u-padding(7);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;

    // < desktop
    @include at-media-max("desktop") {
        @include grid-col(12);
    }
    // < tablet
    @include at-media-max("tablet") {
        height: 500px;
    }

    // common text box styles
    &--primary-dark,
    &--primary-vivid,
    &--base-lighter {
        // < desktop
        @include at-media-max("desktop") {
            @include u-padding(5);
            height: initial;
            min-height: 400px;
        }
        // < tablet
        @include at-media-max("tablet") {
            @include u-padding-x(2);
            height: initial;
            min-height: 300px;
        }
    }

    // custom colors
    &--primary-dark {
        background-color: color("primary-dark");
        .box-content {
            @include u-text("white");
        }
    }

    &--primary-vivid {
        background-color: color("primary-vivid");
        .box-content {
            @include u-text("white");
        }
    }

    &--base-lighter {
        background-color: color("base-lighter");
        .box-content {
            @include u-text("primary-dark");
        }
    }
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;

    h2 {
        @include u-margin-y(0);
        @include u-font("sans", "3xl");
        @include u-text("bold");
        line-height: 1.1;
        color: inherit;

        // < desktop
        @include at-media-max("desktop") {
            // @include u-padding-top(3);
            @include u-font("sans", "3xl");
        }

        // < tablet
        @include at-media-max("tablet") {
            // @include u-padding-top(3);
            @include u-font("sans", "2xl");
        }
    }

    p,
    ul {
        @include u-margin-bottom(0);
        @include u-font("sans", "xl");

        // < desktop
        @include at-media-max("desktop") {
            @include u-font("sans", "xl");
        }

        // < tablet
        @include at-media-max("tablet") {
            @include u-font("sans", "lg");
        }
    }

    &--smaller {
        h2 {
            @include u-font("sans", "xl");

            // < desktop
            @include at-media-max("desktop") {
                @include u-font("sans", "xl");
            }

            // < tablet
            @include at-media-max("tablet") {
                @include u-font("sans", "xl");
            }
        }

        p,
        ul {
            @include u-font("sans", "lg");

            // < desktop
            @include at-media-max("desktop") {
                @include u-font("sans", "lg");
            }

            // < tablet
            @include at-media-max("tablet") {
                @include u-font("sans", "lg");
            }
        }
    }
}

// mini styles
@mixin box-mini($image-url) {
    @include column-overlay-vertical("right", 50%, "primary", $image-url, "none");
    background-color: color("primary");
    background-position: left;
    @include u-padding(0);

    height: 292px;

    // desktop
    @include at-media-max("desktop") {
        @include column-overlay-vertical("right", 60%, "primary", $image-url, "none");
        height: 224px;
    }

    // tablet
    @include at-media-max("tablet") {
        @include column-overlay-vertical("right", 60%, "primary", $image-url, "none");
        height: 200px;
    }
}

.box-mini-content {
    @include u-padding-x(3);
    @include u-margin-y(4);
    position: absolute;
    right: 0;
    width: 50%;
    color: white;

    // desktop
    @include at-media-max("desktop") {
        @include grid-col(9);
        @include grid-offset(3);
        @include u-padding-x(2);
        @include u-margin-y(1);
        width: 60%;
    }

    // typography
    h2 {
        @include u-font("sans", "lg");
        @include u-text("semibold");
        text-transform: uppercase;
        color: inherit;
        cursor: inherit;
        margin: 0;

        // < desktop
        @include at-media-max("desktop-lg") {
            @include u-font("sans", "lg");
        }

        // < tablet
        @include at-media-max("tablet") {
            @include u-font("sans", "lg");
        }

        // < mobile
        @include at-media-max("mobile-lg") {
            @include u-font("sans", "lg");
        }
    }

    .usa-link {
        @include u-font("sans", "md");
        @include white-url();
        text-transform: uppercase;
        text-decoration: none;

        // < widescreen
        @include at-media-max("desktop-lg") {
            @include u-font("sans", "md");
        }

        // < desktop
        @include at-media-max("desktop") {
            @include u-font("sans", "md");
        }
    }
}
