---
layout: default
---



<!-- BANNER -->
<section class="fellows-banner">
    <div class="usa-hero">
      <div class="usa-hero__callout">
        <div class="grid-container">
          <div class="grid-row">
            <div class="grid-col">
              <h1 class="usa-hero__heading">Our Fellows</h1>
            </div>
          </div>
          <div class="grid-row display-flex flex-row flex-align-end height-full">
            <div class="grid-col-12">
              <h2>U.S. Digital Corps Fellows are motivated, passionate early-career technologists who represent the diversity of our country and who play a key role in delivering secure, effective, and equitable government services to the public.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Filters -->
  <section class="padding-top-4 padding-bottom-1 bg--lightest usa-layout-docs usa-section">
    <div class="grid-container">
      <div class="grid-row margin-top-4 fellow-filters">
        {% include_cached fellow-filters.html %}
      </div>
    </div>
  </section>

  <!-- Fellows -->
  <section class="grid-container usa-layout-docs usa-section">
    <div id='fellow-search-default' class="list-fellows">
      {{content}}
    </div>
    <!-- search results container -->
    <div id='fellow-search-results' class="list-fellows">
    </div>
    {% include pagination.html %}
  </section>

  <!-- Quote -->
  <section class="usa-section fellow-quote">
    <div class="grid-container">
      <div class="quote">
        <div class="text-center padding-bottom-4">
          {%
          asset "icons/quote2.png"
          alt="quote symbol" height=50
          %}
        </div>
        <div class="verbiage">
          The Digital Corps gives me an opportunity to use my technical skills to reach a wide range of people. I appreciate the fact that the program is designed to allow Fellows to grow in their careers and to provide a community where everyone values public service and meaningful work.
        </div>
        <div class="author">
          Isabel Laurenceau
          <div class="title">
            U.S. Digital Corps Fellow
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- JOINING -->
  <section class="usa-section {{ include.customstyles }}">
    <div class="grid-container highlight tablet:padding-x-2">
      <div class="grid-col">
        <p class="lead text-primary padding-y-0">
          Applications for the next cohort of U.S. Digital Corps Fellows will open later this year.  
          <br class="display-none tablet:display-inline" />
          Sign up for our mailing list and follow us on social media to stay in the loop.
        </p>
        <div class="text-center">
          <a class="usa-button usa-button--primary"
            href="{{site.baseurl}}/apply/">
            Sign up for updates
          </a>
        </div>
      </div>
    </div>
  </section>


  <!-- vendor search script -->
{% asset simple_jekyll_search.js %}

<!-- search -->
<script type="text/javascript">
  var fellowsJson = [{% for fellow in site.fellows %}
        {
          "title"    : "{{ fellow.title | escape }}",
          "category" : "{{ fellow.category }}",
          "tags"     : "{{ fellow.agency | join: ', ' }}",
          "url"      : "{{ site.baseurl }}{{ fellow.url }}",
          "date"     : "{{ fellow.date }}",
          "content"  : "{{ fellow.bio_short | strip_html | strip_newlines | remove_chars | escape }}",
          "image_path" : "{% asset '{{ fellow.image }}' @path %}",
          "agency" : "{% assign fellow_agencies = site.data.agencies | where_exp:'agency', 'fellow.tags contains agency.name' %}{% for agency in fellow_agencies %}{% if forloop.first %}<ul>{% endif %}<li><span class='{{ agency.name }}'>{{ agency.fullname }}</span>{% if forloop.last %}</ul>{% endif %}{% endfor %}",
          "track" : "{% assign fellow_tracks = site.data.fellow-tracks | where_exp:'track', 'fellow.tags contains track.url_name' %}{% for track in fellow_tracks %}{% if forloop.first %}<ul>{% endif %}<li><span class='{{ track.url_name }}'>{{ track.display_name }}</span>{% if forloop.last %}</ul>{% endif %}{% endfor %}",
          "linkedin": "{% if fellow.linkedin %}<span class='fellow-card--linkedin'><a href={{ fellow.linkedin }}><img src={% asset 'icons/linkedin-blue.svg' @path %} alt='{{ fellow.title}} on LinkedIn'/></a>{% else %}</span>{% endif %}",
          "twitter": "{% if fellow.twitter %}<span class='fellow-card--twitter'><a href={{ fellow.twitter }}><img src={% asset 'icons/twitter.svg' @path %} alt='{{ fellow.title }} on Twitter' /></a>{% else %}</span>{% endif %}",
          "fellow_year": "{{ fellow.fellow_year }}"
        } {% unless forloop.last %},{% endunless %}
      {% endfor %}]


  /***
    - Search Result Template markup should match items in fellow-list.html
    - Any fellow content needed for template should be added to json above.
    - Template syntax: https://github.com/christian-fei/Simple-Jekyll-Search/wiki#searchresulttemplate-string-optional
  ***/
  // var searchResultTemplate = '<div class="fellow-card desktop:grid-col-3 tablet:grid-col-6"><a href="{url}"><div class="usa-prose fellow-img"><img src="{image_path}" class="circle-card" alt="{title}"/></div><div><h2 class="body-intro--bold">{title}</h2><p class="fellow-card--specialty">{specialty}</p><p class="content">{content}</p></a><p><span class="fellow-card--fellow-year">{fellow_year}</span>{linkedin}{twitter}</p></div></div>';
  var searchResultTemplate = '<div class="fellow-card desktop:grid-col-3 tablet:grid-col-6"><a href="{url}"><div class="usa-prose fellow-img"><img src="{image_path}" class="circle-card" alt="{title}"/></div><div><h2 class="body-intro--bold">{title}</h2><p class="content">{content}</p></a><div class="fellow-card--fellow-year">{fellow_year} Fellow</div></div></div>';
  const siteBaseurl = "{{ site.baseurl }}";
</script>

{% asset filters.js %}
